<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card entry-list detail tab-detail">
        <div class="card-header mt-3">
          <div class="title-list">
            <span>Chi tiết tài khoản ngân hàng</span>
          </div>
        </div>
        <div class="card-body entry-detail p-0">
          <div class="col-md-12 mb-4">
            <!-- Nav tabs -->
            <tabset>
              <tab>
                <ng-template tabHeading>Thông tin</ng-template>
                <app-mcustumer-internal-detail-info></app-mcustumer-internal-detail-info>
              </tab>
              <tab>
                <ng-template tabHeading>Lịch sử giao dịch</ng-template>
                <app-mcustumer-internal-detail-transaction></app-mcustumer-internal-detail-transaction>
              </tab>
            </tabset>
          </div><!--/.col-->
        </div>
        <div class="card-footer">
          <ul class="header-actions">
            <li *ngIf="authService.hasRole('admin')">
              <button style="width: 100px;" class="btn btn-block btn-primary btn-rounded"
                      (click)="saveBank()"
                      type="button">CẬP NHẬT
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div><!--/.row-->
</div>
