<!-- Breadcrumb -->
<ol class="breadcrumb">
  <app-breadcrumb></app-breadcrumb>
  <!-- Breadcrumb Menu-->
  <!--<li class="breadcrumb-menu d-md-down-none">
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn" href="javascript:void(0)" (click)="ketDonTatCa();">
              <i class="fa fa-plus"></i> &nbsp;Kết đơn tất cả
          </a>
      </div>
  </li>-->
</ol>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div *ngFor="let cartf of carts" class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> <strong>{{cartf.name}}</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-8">
              <table class="table table-sm">
                <thead>
                <tr>
                  <th width="30%">Sản phẩm</th>
                  <th>Số lượng</th>
                  <th>Tỷ giá</th>
                  <th>Đơn giá</th>
                  <th>Tiền hàng</th>
                  <th style="text-align: center;">#</th>
                </tr>
                </thead>
                <tbody *ngIf="cartf.items && cartf.items.length > 0">
                <ng-template ngFor let-item [ngForOf]="cartf.items" let-i="index">
                  <tr>
                    <td rowspan="3">
                      <div class="pull-left">
                        <a target="_blank" rel="noopener noreferrer"
                           href="{{item.pro_link}}"><img src="{{item.image}}"></a>
                      </div>
                      <p *ngIf="item.sizetxt" class="pull-left m-1 colortxt">{{item.sizetxt}}</p>
                      <p *ngIf="item.colortxt" class="pull-left m-1 colortxt">{{item.colortxt}}</p>
                    </td>
                    <td>
                      <p><input title="Số lượng" [(ngModel)]="cartf.items[i].amount" type="number"
                                (change)="updateCart(cartf.items[i]);"
                                id="amount"
                                name="amount" class="form-control"></p>
                    </td>
                    <td>
                      <p *ngIf="!nv">{{item.rate}}</p>
                    </td>
                    <td>
                      <p *ngIf="!nv">{{item.price | tempPrice: item.rate : 1: true}}<sup>đ</sup></p>
                      <p *ngIf="!nv"><span>¥</span>{{item.price | tempPrice: 1 : 1 : false}}</p>
                    </td>
                    <td>
                      <p *ngIf="!nv">{{item.price | tempPrice: item.rate : cartf.items[i].amount: true}}<sup>đ</sup>
                      </p>
                      <p *ngIf="!nv"><span>¥</span>{{item.price | tempPrice: 1 : cartf.items[i].amount :
                        false}}</p>
                    </td>
                    <td style="text-align: center;"><a href="javascript:void(0)"
                                                       (click)="openModalDeleteCart(template,item)"><i
                      class="fa fa-trash-o"
                      aria-hidden="true"></i></a><br></td>
                  </tr>
                  <tr>
                    <td colspan="5" style="border-top: none;"><input
                      [(ngModel)]="cartf.items[i].note" type="text"
                      class="form-control"
                      placeholder="Ghi chú link"
                      (change)="updateCart(cartf.items[i])"
                      value=""></td>
                  </tr>
                </ng-template>
                <tr>
                  <td colspan="5" style="border-top: none;">
                    <div class="col-form-label">
                      <div class="form-check form-check-inline mr-1">
                        <input type="checkbox" id="inline-checkbox1"
                               value="option1"
                               class="form-check-input">
                        <label for="inline-checkbox1" class="form-check-label">Kiểm hàng</label>
                      </div>
                      <div class="form-check form-check-inline mr-1">
                        <input type="checkbox" id="inline-checkbox2"
                               value="option2"
                               class="form-check-input">
                        <label for="inline-checkbox2" class="form-check-label">Đóng gỗ</label>
                      </div>
                      <div class="form-check form-check-inline mr-1">
                        <input type="checkbox" id="inline-checkbox3"
                               value="option3"
                               class="form-check-input">
                        <label for="inline-checkbox3" class="form-check-label">Bảo hiểm</label>
                      </div>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="cartf.items && cartf.items.length > 0" class="col-lg-3">
              <table class="table table-sm">
                <tbody>
                <tr *ngIf="!nv">
                  <td>Tiền hàng</td>
                  <td>{{cartf.tien_hang.toString() | tempPrice: 1 : 1: true}}<sup>đ</sup></td>
                </tr>
                <tr *ngIf="!nv">
                  <td>Phí đặt hàng</td>
                  <td>{{cartf.phi_tam_tinh.toString() | tempPrice: 1 : 1: true}}<sup>đ</sup></td>
                </tr>
                <tr *ngIf="!nv">
                  <td>Kiểm hàng</td>
                  <td></td>
                </tr>
                <tr *ngIf="!nv">
                  <td>Đóng gỗ</td>
                  <td></td>
                </tr>
                <tr *ngIf="!nv">
                  <td>Bảo hiểm</td>
                  <td></td>
                </tr>
                <tr *ngIf="!nv">
                  <td>#</td>
                  <td></td>
                </tr>
                <tr *ngIf="!nv">
                  <td>Tổng</td>
                  <td>{{cartf.tong.toString() | tempPrice: 1 : 1: true}}<sup>đ</sup></td>
                </tr>
                <tr>
                  <td colspan="2">
                    <button class="btn btn-block btn-primary" (click)="ketDon(cartf)"
                            type="button">Kết đơn
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div>
            <a style="margin-right: 25px;">
              <span
                class="ng-binding">{{cartf.count_product}}</span><span> / </span><span>{{cartf.count_link}}</span><span> Link</span>
            </a>
            <a href="javascript:void(0)" (click)="openModalDeleteShop(template1, cartf)"><i
              class="fa fa-trash-o"
              aria-hidden="true"></i> Xóa shop</a><br>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div><!-- /.container-fluid -->
<ng-template #template>
  <div class="modal-body text-center">
    <p>Bạn có chắc chắn muốn xóa sản phẩm này!?</p>
    <div class="btn-group btn-group-toggle">
      <button type="button" class="btn btn-warning" (click)="confirmDeleteCart()">Yes</button>
      <button type="button" class="btn btn-primary" (click)="declineDeleteCart()">No</button>
    </div>
  </div>
</ng-template>

<ng-template #template1>
  <div class="modal-body text-center">
    <p>Bạn có chắc chắn muốn xóa toàn bộ sản phẩn tại shop này!?</p>
    <div class="btn-group btn-group-toggle">
      <button type="button" class="btn btn-warning" (click)="confirmDeleteShop()">Yes</button>
      <button type="button" class="btn btn-primary" (click)="declineDeleteShop()">No</button>
    </div>
  </div>
</ng-template>
