<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div *ngFor="let cartf of carts" class="card entry-list">
        <div class="card-header">
          <div class="title-list">
            <span>{{cartf.shop.name}}</span>
          </div>
        </div>
        <div class="card-body">
          <div class="col-form-label text-right">
            <div class="form-check form-check-inline mr-3">
              <label class="check-label">
                <input type="checkbox" id="kiem_hang" name="kiem_hang"
                     value="1"
                     [(ngModel)]="cartf.kiem_hang"
                     (change)="updateCart(cartf)"> Kiểm hàng
                <span></span>
              </label>
            </div>
            <div class="form-check form-check-inline mr-3">
              <label class="check-label">
                <input type="checkbox" id="dong_go" name="dong_go"
                     value="1"
                     [(ngModel)]="cartf.dong_go"
                     (change)="updateCart(cartf)"> Đóng gỗ
                <span></span>
              </label>
            </div>
            <div class="form-check form-check-inline mr-3">
              <label class="check-label">
                <input type="checkbox" id="bao_hiem" name="bao_hiem"
                     value="1"
                     [(ngModel)]="cartf.bao_hiem"
                     (change)="updateCart(cartf)"> Chống sốc
                <span></span>
              </label>
            </div>
<!--        <div class="form-check form-check-inline mr-3">
              <label class="check-label">
                <input type="checkbox" id="chinh_ngach" name="chinh_ngach"
                     value="1"
                     [(ngModel)]="cartf.chinh_ngach"
                     (change)="updateCart(cartf)"> Chính ngạch
                <span></span>
              </label>
            </div>
            <div class="form-check form-check-inline mr-3">
              <label class="check-label">
                <input type="checkbox" id="vat" name="vat"
                     value="1"
                     (change)="updateCart(cartf)"
                     [(ngModel)]="cartf.vat"> VAT
                <span></span>
              </label>
            </div> -->
          </div>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th rowspan="2">Sản phẩm</th>
                <th width="30%"></th>
                <th rowspan="2" width="15%">Số lượng</th>
                <th rowspan="2" width="15%">Tỷ giá</th>
                <th rowspan="2" width="15%">Đơn giá</th>
                <th rowspan="2" width="15%">Tiền hàng</th>
                <th rowspan="2" style="text-align: right;" width="10%">Tác vụ</th>
              </tr>
              </thead>
              <tbody *ngIf="cartf.cart_items && cartf.cart_items.length > 0">
              <ng-template ngFor let-item [ngForOf]="cartf.cart_items" let-i="index">
                <tr class="bg-gray rounded">
                  <td rowspan="2">
                    <a target="_blank" rel="noopener noreferrer"
                         href="{{item.pro_link}}"><img src="{{item.image}}"></a>
                  </td>
                  <td>
                    <div *ngIf="item.sizetxt">{{item.sizetxt}}</div>
                    <div *ngIf="item.colortxt">{{item.colortxt}}</div>
                  </td>
                  <td>
                    <input title="Số lượng" [(ngModel)]="cartf.cart_items[i].amount" type="number"
                              (change)="updateCartItem(cartf.cart_items[i]);"
                              id="amount"
                              name="amount" class="form-control">
                  </td>
                  <td>
                    <div *ngIf="!nv">{{cartf.ti_gia}}</div>
                  </td>
                  <td>
                    <div *ngIf="!nv">{{item.price | tempPrice: cartf.ti_gia : 1: true}}<sup>đ</sup></div>
                    <div *ngIf="!nv"><span>¥</span>{{item.price | tempPrice: 1 : 1 : false}}</div>
                  </td>
                  <td>
                    <div *ngIf="!nv">{{item.price | tempPrice: cartf.ti_gia : cartf.cart_items[i].amount: true}}
                      <sup>đ</sup>
                    </div>
                    <div *ngIf="!nv"><span>¥</span>{{item.price | tempPrice: 1 : cartf.cart_items[i].amount :
                      false}}</div>
                  </td>
                  <td style="text-align: right;">
                    <a href="javascript:void(0)" (click)="openModalDeleteCart(template,item)" class="text-danger">
                      Xóa
                    </a>
                  </td>
                </tr>
                <tr class="bg-gray">
                  <td colspan="4" style="border-top: 1px solid #e0e0e0; padding-left: 0;">
                    <textarea [(ngModel)]="cartf.cart_items[i].note" class="form-control" placeholder="Ghi chú" (change)="updateCartItem(cartf.cart_items[i])">
                    </textarea>
    
                  </td>
                  <td colspan="4" style="border-top: 1px solid #e0e0e0;"></td>
                </tr>
              </ng-template>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div *ngIf="cartf.cart_items && cartf.cart_items.length > 0" class="col-lg-4 ml-auto">
              <strong>Tổng giá trị đơn hàng</strong>
              <div class="bg-gray rounded p-4 mt-3">
                <div class="d-flex justify-content-between align-items-center mb-3" *ngIf="!nv">
                  <div>(I) Tiền hàng</div>
                  <div>{{cartf.tien_hang | currency:'VND':'' }}<sup>đ</sup></div>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-3" *ngIf="!nv">
                  <div>(1) Phí đặt hàng ({{cartf.phi_dat_hang_cs}}%)</div>
                  <div>{{cartf.phi_dat_hang | currency:'VND':'' }}<sup>đ</sup></div>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-3" *ngIf="!nv">
                  <div>(2) Chiết khấu VIP ({{cartf.ck_dv}}%)</div>
                  <div>{{cartf.ck_dv_tt | currency:'VND':'' }}<sup>đ</sup></div>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-3" *ngIf="!nv">
                  <div>(II) Phí đặt hàng phải thanh toán (1) - (2)</div>
                  <div>{{cartf.phi_dat_hang_tt | currency:'VND':'' }}<sup>đ</sup></div>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-3" *ngIf="!nv">
                  <div>(III) Kiểm đếm ({{cartf.phi_kiem_dem_cs | currency:'VND':'' }}<sup>đ</sup>)</div>
                  <div>{{cartf.phi_kiem_dem_tt | currency:'VND':'' }}<sup>đ</sup></div>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-3" *ngIf="!nv">
                  <div>#</div>
                  <div></div>
                </div>
                <div class="border-top-dashed pt-2 mt-2"></div>
                <div class="d-flex justify-content-between align-items-center mb-3" *ngIf="!nv">
                  <div><strong>Tổng (I) + (II) + (III)</strong></div>
                  <div>{{(cartf.tien_hang + cartf.phi_dat_hang_tt + cartf.phi_kiem_dem_tt) | currency:'VND':'' }}<sup>đ</sup></div>
                </div>

                <div>
                  <button class="btn btn-block btn-primary btn-rounded" (click)="ketDon(cartf)"
                          type="button">Tạo đơn
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div>
            <a style="margin-right: 25px;">
              <span
                class="ng-binding">{{cartf.count_product}} Sản phẩm</span>
            </a>
            <a href="javascript:void(0)" (click)="openModalDeleteShop(template1, cartf)"><i
              class="fa fa-trash-o"
              aria-hidden="true"></i> Xóa toàn bộ</a><br>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div><!-- /.container-fluid -->
<ng-template #template>
  <div class="modal-body text-center">
    <p>Bạn có chắc chắn muốn xóa sản phẩm này!?</p>
    <div class="btn-group btn-group-toggle">
      <button type="button" class="btn btn-warning" (click)="confirmDeleteCart()">Yes</button>
      <button type="button" class="btn btn-primary" (click)="declineDeleteCart()">No</button>
    </div>
  </div>
</ng-template>

<ng-template #template1>
  <div class="modal-body text-center">
    <p>Bạn có chắc chắn muốn xóa toàn bộ sản phẩm!?</p>
    <div class="btn-group btn-group-toggle">
      <button type="button" class="btn btn-warning" (click)="confirmDeleteShop()">Yes</button>
      <button type="button" class="btn btn-primary" (click)="declineDeleteShop()">No</button>
    </div>
  </div>
</ng-template>

<ng-template #templateAddCart>
  <div class="modal-header">
    <h5 class="modal-title">Thêm vào giỏ hàng</h5>
  </div>
  <div *ngIf="cart" class="modal-body">
    <form novalidate #addCartForm="ngForm">
      <div *ngIf="cart.shop" class="form-group">
        <label for="name">Tên shop<code
          class="highlighter-rouge">*</code></label>
        <input class="form-control"
               [(ngModel)]="cart.shop.name"
               #name="ngModel"
               id="name"
               name="name"
               required
               placeholder="Nhập tên shop..."
               type="text">
        <div [hidden]="name.valid || name.untouched">
                                <span *ngIf="name.errors && name.errors.required"
                                      class="badge badge-warning">
                                    Phải nhập tên shop!
                                </span>
        </div>
      </div>
      <div *ngIf="cart.shop" class="form-group">
        <label for="url">Shop link<code
          class="highlighter-rouge">*</code></label>
        <input class="form-control"
               [(ngModel)]="cart.shop.url"
               #url="ngModel"
               id="url"
               name="url"
               required
               placeholder="Nhập shop link..."
               type="text">
        <div [hidden]="url.valid || url.untouched">
                                <span *ngIf="url.errors && url.errors.required"
                                      class="badge badge-warning">
                                    Phải nhập shop link!
                                </span>
        </div>
      </div>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th width="15%">Hình ảnh</th>
          <th>Thuộc tính</th>
          <th width="15%">Đơn giá</th>
          <th width="15%">Số lượng</th>
          <th width="20%">Ghi chú</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cartitem of cart.cart_items">
          <td><input [(ngModel)]="cartitem.image"
                     #image="ngModel"
                     class="form-control"
                     id="image"
                     name="image"
                     placeholder="Link ảnh..."
                     type="text"></td>
          <td>
            <input [(ngModel)]="cartitem.pro_link"
                   #pro_link="ngModel"
                   class="form-control"
                   id="pro_link"
                   name="pro_link"
                   placeholder="Link sản phẩm..."
                   type="text">
            <input [(ngModel)]="cartitem.colortxt"
                   #colortxt="ngModel"
                   class="form-control"
                   id="colortxt"
                   name="colortxt"
                   placeholder="Màu sắc..."
                   type="text">
            <input [(ngModel)]="cartitem.sizetxt"
                   #sizetxt="ngModel"
                   class="form-control"
                   id="sizetxt"
                   name="sizetxt"
                   placeholder="Kích thước..."
                   type="text">
          </td>
          <td><input [(ngModel)]="cartitem.price"
                     #price="ngModel"
                     class="form-control"
                     id="price"
                     name="price"
                     placeholder="Giá (NDT)..."
                     type="number"></td>
          <td><input [(ngModel)]="cartitem.amount"
                     #amount="ngModel"
                     class="form-control"
                     id="pamount"
                     name="amount"
                     placeholder="Số lượng..."
                     type="number"></td>
          <td><textarea [(ngModel)]="cartitem.note"
                        #note="ngModel"
                        id="note"
                        name="note"
                        rows="3"
                        placeholder="Ghi chú..."
                        class="form-control">
                                    </textarea>
          </td>
        </tr>
        <tr>
          <td colspan="5" style="text-align: right">
            <a class="btn btn-primary" (click)="addCartItem();" href="javascript:void(0);"
               style="line-height: 24px; padding: 0;">
              <i class="iconsax isax-add"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="addCartConfirm()">Thêm vào giỏ</button>
    <button type="button" class="btn btn-warning" (click)="addCartDecline()">Quay lại</button>
  </div>
</ng-template>
