<!-- Breadcrumb -->
<ol class="breadcrumb">
  <app-breadcrumb></app-breadcrumb>
  <!-- Breadcrumb Menu-->
  <!--<li class="breadcrumb-menu d-md-down-none">
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn" href="javascript:void(0)" (click)="ketDonTatCa();">
              <i class="fa fa-plus"></i> &nbsp;Kết đơn tất cả
          </a>
      </div>
  </li>-->
</ol>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div *ngFor="let cartf of carts" class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> <strong>{{cartf.shop.name}}</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-8">
              <div class="row">
                <div class="col-lg-12" style="text-align: right;">
                  <div class="col-form-label">
                    <div class="form-check form-check-inline mr-1">
                      <input type="checkbox" id="kiem_hang" name="kiem_hang"
                             value="1"
                             [(ngModel)]="cartf.kiem_hang"
                             (change)="updateCart(cartf)"
                             class="form-check-input">
                      <label for="kiem_hang" class="form-check-label">Kiểm hàng</label>
                    </div>
                    <div class="form-check form-check-inline mr-1">
                      <input type="checkbox" id="dong_go" name="dong_go"
                             value="1"
                             [(ngModel)]="cartf.dong_go"
                             (change)="updateCart(cartf)"
                             class="form-check-input">
                      <label for="dong_go" class="form-check-label">Đóng gỗ</label>
                    </div>
                    <div class="form-check form-check-inline mr-1">
                      <input type="checkbox" id="bao_hiem" name="bao_hiem"
                             value="1"
                             [(ngModel)]="cartf.bao_hiem"
                             (change)="updateCart(cartf)"
                             class="form-check-input">
                      <label for="bao_hiem" class="form-check-label">Bảo hiểm</label>
                    </div>
                  </div>
                </div>
              </div>
              <table class="table table-sm">
                <thead>
                <tr>
                  <th width="30%">Sản phẩm</th>
                  <th>Số lượng</th>
                  <th>Tỷ giá</th>
                  <th>Đơn giá</th>
                  <th>Tiền hàng</th>
                  <th style="text-align: center;">#</th>
                </tr>
                </thead>
                <tbody *ngIf="cartf.cart_items && cartf.cart_items.length > 0">
                <ng-template ngFor let-item [ngForOf]="cartf.cart_items" let-i="index">
                  <tr>
                    <td rowspan="2">
                      <div class="pull-left">
                        <a target="_blank" rel="noopener noreferrer"
                           href="{{item.pro_link}}"><img src="{{item.image}}"></a>
                      </div>
                      <p *ngIf="item.sizetxt" class="pull-left m-1 colortxt">{{item.sizetxt}}</p>
                      <p *ngIf="item.colortxt" class="pull-left m-1 colortxt">{{item.colortxt}}</p>
                    </td>
                    <td>
                      <p><input title="Số lượng" [(ngModel)]="cartf.cart_items[i].amount" type="number"
                                (change)="updateCartItem(cartf.cart_items[i]);"
                                id="amount"
                                name="amount" class="form-control"></p>
                    </td>
                    <td>
                      <p *ngIf="!nv">{{cartf.ti_gia}}</p>
                    </td>
                    <td>
                      <p *ngIf="!nv">{{item.price | tempPrice: cartf.ti_gia : 1: true}}<sup>đ</sup></p>
                      <p *ngIf="!nv"><span>¥</span>{{item.price | tempPrice: 1 : 1 : false}}</p>
                    </td>
                    <td>
                      <p *ngIf="!nv">{{item.price | tempPrice: cartf.ti_gia : cartf.cart_items[i].amount: true}}
                        <sup>đ</sup>
                      </p>
                      <p *ngIf="!nv"><span>¥</span>{{item.price | tempPrice: 1 : cartf.cart_items[i].amount :
                        false}}</p>
                    </td>
                    <td style="text-align: center;"><a href="javascript:void(0)"
                                                       (click)="openModalDeleteCart(template,item)"><i
                      class="fa fa-trash-o"
                      aria-hidden="true"></i></a><br></td>
                  </tr>
                  <tr>
                    <td colspan="5" style="border-top: none;"><input
                      [(ngModel)]="cartf.cart_items[i].note" type="text"
                      class="form-control"
                      placeholder="Ghi chú link"
                      (change)="updateCartItem(cartf.cart_items[i])"
                      value=""></td>
                  </tr>
                </ng-template>
                </tbody>
              </table>
            </div>
            <div *ngIf="cartf.cart_items && cartf.cart_items.length > 0" class="col-lg-3">
              <table class="table table-sm">
                <tbody>
                <tr *ngIf="!nv">
                  <td>(I) Tiền hàng</td>
                  <td>{{cartf.tien_hang | currency:'VND':'' }}<sup>đ</sup></td>
                </tr>
                <tr *ngIf="!nv">
                  <td>(1) Phí đặt hàng ({{cartf.phi_dat_hang_cs}}%)</td>
                  <td>{{cartf.phi_dat_hang | currency:'VND':'' }}<sup>đ</sup></td>
                </tr>
                <tr *ngIf="!nv">
                  <td>(2) Chiết khấu VIP ({{cartf.ck_dv}}%)</td>
                  <td>{{cartf.ck_dv_tt | currency:'VND':'' }}<sup>đ</sup></td>
                </tr>
                <tr *ngIf="!nv">
                  <td>(II) Phí đặt hàng phải thanh toán (1) - (2)</td>
                  <td>{{cartf.phi_dat_hang_tt | currency:'VND':'' }}<sup>đ</sup></td>
                </tr>
                <tr *ngIf="!nv">
                  <td>(III) Bảo hiểm ({{cartf.phi_bao_hiem_cs}}%)</td>
                  <td>{{cartf.phi_bao_hiem_tt | currency:'VND':'' }}<sup>đ</sup></td>
                </tr>
                <tr *ngIf="!nv">
                  <td>#</td>
                  <td></td>
                </tr>
                <tr *ngIf="!nv">
                  <td>Tổng (I) + (II) + (III)</td>
                  <td>{{(cartf.tien_hang + cartf.phi_dat_hang_tt + cartf.phi_bao_hiem_tt) | currency:'VND':'' }}
                    <sup>đ</sup></td>
                </tr>
                <tr>
                  <td colspan="2">
                    <button class="btn btn-block btn-primary" (click)="ketDon(cartf)"
                            type="button">Tạo đơn
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div>
            <a style="margin-right: 25px;">
              <span
                class="ng-binding">{{cartf.count_product}}</span><span> / </span><span>{{cartf.count_link}}</span><span> Link</span>
            </a>
            <a href="javascript:void(0)" (click)="openModalDeleteShop(template1, cartf)"><i
              class="fa fa-trash-o"
              aria-hidden="true"></i> Xóa toàn bộ</a><br>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div><!-- /.container-fluid -->
<ng-template #template>
  <div class="modal-body text-center">
    <p>Bạn có chắc chắn muốn xóa sản phẩm này!?</p>
    <div class="btn-group btn-group-toggle">
      <button type="button" class="btn btn-warning" (click)="confirmDeleteCart()">Yes</button>
      <button type="button" class="btn btn-primary" (click)="declineDeleteCart()">No</button>
    </div>
  </div>
</ng-template>

<ng-template #template1>
  <div class="modal-body text-center">
    <p>Bạn có chắc chắn muốn xóa toàn bộ sản phẩn tại shop này!?</p>
    <div class="btn-group btn-group-toggle">
      <button type="button" class="btn btn-warning" (click)="confirmDeleteShop()">Yes</button>
      <button type="button" class="btn btn-primary" (click)="declineDeleteShop()">No</button>
    </div>
  </div>
</ng-template>
