<!-- Breadcrumb -->
<ol class="breadcrumb">
  <app-breadcrumb></app-breadcrumb>
  <!-- Breadcrumb Menu-->
  <li class="breadcrumb-menu d-md-down-none">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <a class="btn" (click)="backlist()"
         target="_blank"><i class="fa fa-arrow-left"></i> &nbsp;Quay lại</a>
    </div>
  </li>
</ol>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Chi tiết yêu cầu ký gửi</strong>
        </div>
        <div class="card-body">
          <div class="col-md-12 mb-4">
            <form novalidate #form="ngForm" class="form-horizontal">
              <table class="table table-bordered table-sm">
                <thead>
                <tr>
                  <th>Mã vận đơn</th>
                  <th>Tên sản phẩm</th>
                  <th>Số lượng SP</th>
                  <th>Hãng vận chuyển</th>
                  <th>Mô tả, link sản phẩm</th>
                  <th>Ghi chú</th>
                  <th class="text-center">Tác vụ</th>
                </tr>
                </thead>
                <tbody
                  *ngIf="orderService.orderRe && orderService.orderRe.package && orderService.orderRe.package.length > 0">
                <ng-template ngFor let-item [ngForOf]="orderService.orderRe.package" let-i="index">
                  <tr>
                    <td>{{item.id}}</td>
                    <td (click)="selectPackage(item,i,'ship_khach')">
                      <input *ngIf="((package.id === item.id) && (col === 'ship_khach'))"
                             [(ngModel)]="package.ship_khach"
                             #ship_khach="ngModel"
                             class="form-control"
                             id="ship_khach"
                             name="ship_khach"
                             (change)="updatePackage(template, 'ship_khach')"
                             (blur)="hideInput()"
                             appAutofocus
                             type="number">
                      <p *ngIf="((package.id !== item.id) || (col !== 'ship_khach'))">
                        <span>¥</span> {{item.ship_khach | tempPrice: 1 : 1 : false}}</p>
                    </td>
                    <td (click)="selectPackage(item,i,'ship_tt')">
                      <input *ngIf="((package.id === item.id) && (col === 'ship_tt'))"
                             [(ngModel)]="package.ship_tt"
                             #ship_tt="ngModel"
                             class="form-control"
                             id="ship_tt"
                             name="ship_tt"
                             (change)="updatePackage(template, 'ship_tt')"
                             (blur)="hideInput()"
                             appAutofocus
                             type="number">
                      <p *ngIf="((package.id !== item.id) || (col !== 'ship_tt'))">
                        <span>¥</span> {{item.ship_tt | tempPrice: 1 : 1 : false}}</p>
                    </td>
                    <td (click)="selectPackage(item,i,'thanh_toan')">
                      <input *ngIf="((package.id === item.id) && (col === 'thanh_toan'))"
                             [(ngModel)]="package.thanh_toan"
                             #thanh_toan="ngModel"
                             class="form-control"
                             id="thanh_toan"
                             name="thanh_toan"
                             (change)="updatePackage(template, 'thanh_toan')"
                             (blur)="hideInput()"
                             appAutofocus
                             type="number">
                      <p *ngIf="((package.id !== item.id) || (col !== 'thanh_toan')) && item.thanh_toan">
                        <span>¥</span> {{item.thanh_toan | tempPrice: 1 : 1 : false}}</p>
                    </td>
                    <td (click)="selectPackage(item,i,'package_code')">
                      <input *ngIf="((package.id === item.id) && (col === 'package_code'))"
                             [(ngModel)]="package.package_code"
                             #package_code="ngModel"
                             class="form-control"
                             id="package_code"
                             name="package_code"
                             (change)="updatePackage(template, 'package_code')"
                             (blur)="hideInput()"
                             appAutofocus
                             type="text">
                      <p *ngIf="((package.id !== item.id) || (col !== 'package_code'))">{{item.package_code}}</p>
                    </td>
                    <td (click)="selectPackage(item,i,'contract_code')">
                      <input *ngIf="((package.id === item.id) && (col === 'contract_code'))"
                             [(ngModel)]="package.contract_code"
                             #contract_code="ngModel"
                             class="form-control"
                             id="contract_code"
                             name="contract_code"
                             (change)="updatePackage(template, 'contract_code')"
                             (blur)="hideInput()"
                             appAutofocus
                             type="text">
                      <p *ngIf="((package.id !== item.id) || (col !== 'contract_code'))">
                        {{item.contract_code}}</p>
                    </td>
                    <td (click)="selectPackage(item,i,'status')">
                      <select *ngIf="((package.id === item.id) && (col === 'status'))"
                              [(ngModel)]="package.status"
                              #status="ngModel"
                              id="status"
                              name="status"
                              (change)="updatePackage(template, 'status')"
                              (blur)="hideInput()"
                              appAutofocus
                              class="form-control">
                        <option *ngFor="let item of pkStatus" value="{{item.id}}">{{item.name}}</option>
                      </select>
                      <p *ngIf="((package.id !== item.id) || (col !== 'status'))">{{item.status | tempPkStatus :
                        pkStatus}}</p>
                    </td>
                    <td (click)="selectPackage(item,i,'phi_van_phat_sinh')">
                      <input *ngIf="((package.id === item.id) && (col === 'phi_van_phat_sinh'))"
                             [(ngModel)]="package.phi_van_phat_sinh"
                             #phi_van_phat_sinh="ngModel"
                             class="form-control"
                             id="phi_van_phat_sinh"
                             name="phi_van_phat_sinh"
                             (change)="updatePackage(template, 'phi_van_phat_sinh')"
                             (blur)="hideInput()"
                             appAutofocus
                             type="text">
                      <p *ngIf="((package.id !== item.id) || (col !== 'phi_van_phat_sinh'))">
                        {{item.phi_van_phat_sinh | tempPrice: 1 : 1 : false}}<sup>đ</sup></p>
                    </td>
                    <td (click)="selectPackage(item,i,'note_tl')">
                    <textarea *ngIf="((package.id === item.id) && (col === 'note_tl'))"
                              [(ngModel)]="package.note_tl"
                              #note_tl="ngModel"
                              id="note_tl"
                              name="note_tl"
                              rows="3"
                              class="form-control"
                              (change)="updatePackage(template, 'note_tl')"
                              (blur)="hideInput()"
                              appAutofocus>
                    </textarea>
                      <p *ngIf="((package.id !== item.id) || (col !== 'note_tl'))">{{item.note_tl}}</p>
                    </td>
                    <td>
                      <p *ngIf="item.is_main!=1" class="text-center" style="margin: 0;"><a style="cursor: pointer;"
                                                                                           (click)="deletePackage(template, item);"
                                                                                           href="javascript:void(0);">Hủy</a>
                      </p>
                    </td>
                  </tr>
                </ng-template>
                <tr>
                  <td colspan="15" class="text-right"><a (click)="addPackage();" style="cursor: pointer;"
                                                         href="javascript:void(0);"><i
                    class="fa fa-plus-square"></i> Thêm mã vận đơn</a></td>
                </tr>
                </tbody>
              </table>
            </form>
          </div><!--/.col-->
        </div>
      </div>
    </div>
  </div><!--/.row-->
</div>
