<!-- Breadcrumb -->
<ol class="breadcrumb">
  <app-breadcrumb></app-breadcrumb>
  <!-- Breadcrumb Menu-->
  <li class="breadcrumb-menu d-md-down-none">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <a class="btn" (click)="backlist()"
         target="_blank"><i class="fa fa-arrow-left"></i> &nbsp;Quay lại</a>
    </div>
  </li>
</ol>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Chi tiết yêu cầu ký gửi</strong>
        </div>
        <div class="card-body">
          <div class="col-md-12 mb-4">
            <form novalidate #form="ngForm" class="form-horizontal">
              <table class="table table-bordered table-sm">
                <thead>
                <tr>
                  <th>Mã vận đơn</th>
                  <th>Tên sản phẩm</th>
                  <th>Số lượng SP</th>
                  <th>Hãng vận chuyển</th>
                  <th>Mô tả, link sản phẩm</th>
                  <th>Ghi chú</th>
                  <th class="text-center">Tác vụ</th>
                </tr>
                </thead>
                <tbody
                  *ngIf="carrier && carrier.carrier_package">
                <ng-template ngFor let-item [ngForOf]="carrier.carrier_package" let-i="index">
                  <tr>
                    <td (click)="selectPackage(item,'package_code')">
                      <input *ngIf="((carrierPackage.id === item.id) && (col === 'package_code'))"
                             [(ngModel)]="carrierPackage.package_code"
                             #package_code="ngModel"
                             class="form-control"
                             id="package_code"
                             name="package_code"
                             (blur)="hideInput()"
                             appAutofocus
                             type="text">
                      <p *ngIf="((carrierPackage.id !== item.id) || (col !== 'package_code'))">{{item.package_code}}</p>
                    </td>
                    <td (click)="selectPackage(item,'product_name')">
                      <input *ngIf="((carrierPackage.id === item.id) && (col === 'product_name'))"
                             [(ngModel)]="carrierPackage.product_name"
                             #product_name="ngModel"
                             class="form-control"
                             id="product_name"
                             name="product_name"
                             (blur)="hideInput()"
                             appAutofocus
                             type="text">
                      <p *ngIf="((carrierPackage.id !== item.id) || (col !== 'product_name'))">{{item.product_name}}</p>
                    </td>
                    <td (click)="selectPackage(item,'product_count')">
                      <input *ngIf="((carrierPackage.id === item.id) && (col === 'product_count'))"
                             [(ngModel)]="carrierPackage.product_count"
                             #product_count="ngModel"
                             class="form-control"
                             id="product_count"
                             name="product_count"
                             (blur)="hideInput()"
                             appAutofocus
                             type="number">
                      <p
                        *ngIf="((carrierPackage.id !== item.id) || (col !== 'product_count'))">{{item.product_count}}</p>
                    </td>
                    <td (click)="selectPackage(item,'carrier_brand')">
                      <input *ngIf="((carrierPackage.id === item.id) && (col === 'carrier_brand'))"
                             [(ngModel)]="carrierPackage.carrier_brand"
                             #carrier_brand="ngModel"
                             class="form-control"
                             id="carrier_brand"
                             name="carrier_brand"
                             (blur)="hideInput()"
                             appAutofocus
                             type="text">
                      <p
                        *ngIf="((carrierPackage.id !== item.id) || (col !== 'carrier_brand'))">{{item.carrier_brand}}</p>
                    </td>

                    <td (click)="selectPackage(item,'description')">
                      <textarea *ngIf="((carrierPackage.id === item.id) && (col === 'description'))"
                                [(ngModel)]="carrierPackage.description"
                                #description="ngModel"
                                id="description"
                                name="description"
                                rows="3"
                                class="form-control"
                                (blur)="hideInput()"
                                appAutofocus>
                      </textarea>
                      <p *ngIf="((carrierPackage.id !== item.id) || (col !== 'description'))">{{item.description}}</p>
                    </td>
                    <td (click)="selectPackage(item,'note')">
                      <textarea *ngIf="((carrierPackage.id === item.id) && (col === 'note'))"
                                [(ngModel)]="carrierPackage.note"
                                #note="ngModel"
                                id="note"
                                name="note"
                                rows="3"
                                class="form-control"
                                (blur)="hideInput()"
                                appAutofocus>
                      </textarea>
                      <p *ngIf="((carrierPackage.id !== item.id) || (col !== 'note'))">{{item.note}}</p>
                    </td>
                    <td>
                      <p *ngIf="item.is_main!=1" class="text-center" style="margin: 0;"><a style="cursor: pointer;"
                                                                                           (click)="deletePackage(template, item);"
                                                                                           href="javascript:void(0);">Hủy</a>
                      </p>
                    </td>
                  </tr>
                </ng-template>
                <tr>
                  <td colspan="7" class="text-right"><a (click)="addPackage();" style="cursor: pointer;"
                                                        href="javascript:void(0);"><i
                    class="fa fa-plus-square"></i> Thêm mã vận đơn</a></td>
                </tr>
                </tbody>
              </table>
            </form>
          </div><!--/.col-->
        </div>
      </div>
    </div>
  </div><!--/.row-->
</div>
