<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card entry-list detail">
        <div class="card-header">
          <div class="row justify-content-between align-items-center">
            <div class="col-12 col-md-6">
              <div class="title-list">
                  <span>Chi tiết yêu cầu ký gửi</span>
              </div>
            </div>
            <div class="col-12 col-md-6 text-right d-md-down-none">
              <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <a class="btn" (click)="backlist()"
                   target="_blank"><i class="fa fa-arrow-left"></i> &nbsp;Quay lại</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 mb-4">
              <form novalidate #form="ngForm" class="form-horizontal">
                <table class="table table-bordered table-sm">
                  <thead>
                  <tr>
                    <th>Mã vận đơn</th>
                    <th>Tên sản phẩm</th>
                    <th>Số lượng SP</th>
                    <th>Hãng vận chuyển</th>
                    <th>Mô tả, link sản phẩm</th>
                    <th>Ghi chú</th>
                  </tr>
                  </thead>
                  <tbody
                    *ngIf="carrier && carrier.carrier_package">
                  <ng-template ngFor let-item [ngForOf]="carrier.carrier_package" let-i="index">
                    <tr>
                      <td><p>{{item.package_code}}</p></td>
                      <td><p>{{item.product_name}}</p></td>
                      <td><p>{{item.product_count}}</p></td>
                      <td><p>{{item.carrier_brand}}</p></td>
                      <td><p>{{item.description}}</p></td>
                      <td><p>{{item.note}}</p></td>
                    </tr>
                  </ng-template>
                  </tbody>
                </table>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="col-form-label">
                      <div class="form-check form-check-inline mr-1">
                        <input type="checkbox" id="kiem_hang" name="kiem_hang"
                               value="1"
                               [(ngModel)]="carrier.kiem_hang"
                               class="form-check-input">
                        <label for="kiem_hang" class="form-check-label">Kiểm hàng</label>
                      </div>
                      <div class="form-check form-check-inline mr-1">
                        <input type="checkbox" id="dong_go" name="dong_go"
                               value="1"
                               [(ngModel)]="carrier.dong_go"
                               class="form-check-input">
                        <label for="dong_go" class="form-check-label">Đóng gỗ</label>
                      </div>
                      <div class="form-check form-check-inline mr-1">
                        <input type="checkbox" id="bao_hiem" name="bao_hiem"
                               value="1"
                               [(ngModel)]="carrier.bao_hiem"
                               class="form-check-input">
                        <label for="bao_hiem" class="form-check-label">Chống sốc</label>
                      </div>
                      <!--<div class="form-check form-check-inline mr-1">
                        <input type="checkbox" id="chinh_ngach" name="chinh_ngach"
                               value="1"
                               [(ngModel)]="carrier.chinh_ngach"
                               (change)="updateOrder('chinh_ngach')"
                               class="form-check-input">
                        <label class="form-check-label">Chính ngạch</label>
                      </div>
                      <div class="form-check form-check-inline mr-1">
                        <input type="checkbox" id="vat" name="vat"
                               value="1"
                               (change)="updateOrder('vat')"
                               [(ngModel)]="carrier.vat"
                               class="form-check-input">
                        <label class="form-check-label">VAT</label>
                      </div>-->
                    </div>
                  </div>
                </div>
              </form>
            </div><!--/.col-->
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header"><i class="fa fa-anchor"></i>Kho Trung Quốc nhận hàng</div>
                <div class="card-body">
                  <div class="col-form-label">
                    <div *ngFor="let item of chinaWarehouses" class="form-check form-check-inline mr-1">
                      <input type="radio" name="chinaWarehouses" id="chinaWarehouses{{item.id}}" [value]="item.id"
                             [(ngModel)]="carrier.china_warehouses_id"
                             class="form-check-input">
                      <label for="chinaWarehouses{{item.id}}" class="form-check-label">{{item.name}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="form-group">
            <div class="controls" style="text-align: right;">
              <button class="btn btn-warning" style="margin-right: 5px;" (click)="carrierSave(template)" type="button">Từ chối</button>
              <button class="btn btn-info" (click)="carrierSave(template)" type="button">Xác nhận</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!--/.row-->

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Danh sách địa chỉ kho nhận hàng tại Trung Quốc</strong>
        </div>
        <div class="card-body">
          <div *ngFor="let item of chinaWarehouses" class="card">
            <div class="card-header"><i class="fa fa-map-marker"></i>{{item.name}} <span
              *ngIf="item.note">({{item.note}}
              )</span></div>
            <div class="card-body">
              <table class="table table-bordered table-striped table-sm">
                <tbody>
                <tr>
                  <td width="30%">Địa chỉ nhận hàng</td>
                  <td>{{item.address}}</td>
                </tr>
                <tr>
                  <td>Người nhận</td>
                  <td>{{item.receiver}}</td>
                </tr>
                <tr>
                  <td>Mã bưu điện</td>
                  <td>{{item.zipcode}}</td>
                </tr>
                <tr>
                  <td>Số điện thoại</td>
                  <td>{{item.phone}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!--/.row-->
</div>

<ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title">Thông báo lỗi</h5>
  </div>
  <div class="modal-body">
    <alert type="danger" *ngIf="errorMessage.length > 0">
      <p *ngFor="let error of errorMessage"><strong>Lỗi!</strong> {{error}}</p>
    </alert>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" (click)="declineError()">OK</button>
  </div>
</ng-template>
