<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card entry-list detail">
        <div class="card-header">
          <div class="row justify-content-between align-items-center">
            <div class="col-12 col-md-6">
              <div class="title-list">
                  <span>Chi tiết yêu cầu ký gửi</span>
              </div>
            </div>
            <div class="col-12 col-md-6 text-right d-md-down-none">
              <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <a class="btn" (click)="backlist()"
                   target="_blank">Quay lại</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 mb-4">
              <form novalidate #form="ngForm" class="form-horizontal">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th rowspan="2">Mã vận đơn</th>
                    <th rowspan="2">Tên sản phẩm</th>
                    <th rowspan="2">Số lượng SP</th>
                    <th rowspan="2">Hãng vận chuyển</th>
                    <th rowspan="2">Mô tả, link sản phẩm</th>
                    <th rowspan="2">Ghi chú</th>
                  </tr>
                  </thead>
                  <tbody
                    *ngIf="carrier && carrier.carrier_package">
                  <ng-template ngFor let-item [ngForOf]="carrier.carrier_package" let-i="index">
                    <tr>
                      <td><p>{{item.package_code}}</p></td>
                      <td><p>{{item.product_name}}</p></td>
                      <td><p>{{item.product_count}}</p></td>
                      <td><p>{{item.carrier_brand}}</p></td>
                      <td><p>{{item.description}}</p></td>
                      <td><p>{{item.note}}</p></td>
                    </tr>
                  </ng-template>
                  </tbody>
                </table>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="col-form-label text-right">
                      <div class="form-check form-check-inline mr-3">
                        <label class="check-label">
                          <input type="checkbox" id="kiem_hang" name="kiem_hang"
                               value="1"
                               [(ngModel)]="carrier.kiem_hang"> Kiểm hàng
                          <span></span>
                        </label>
                      </div>
                      <div class="form-check form-check-inline mr-3">
                        <label class="check-label">
                          <input type="checkbox" id="dong_go" name="dong_go"
                               value="1"
                               [(ngModel)]="carrier.dong_go"> Đóng gỗ
                          <span></span>
                        </label>
                      </div>
                      <div class="form-check form-check-inline mr-3">
                        <label class="check-label">
                          <input type="checkbox" id="bao_hiem" name="bao_hiem"
                               value="1"
                               [(ngModel)]="carrier.bao_hiem"> Chống sốc
                          <span></span>
                        </label>
                      </div>
                      <!--<div class="form-check form-check-inline mr-3">
                        <label class="check-label">
                          <input type="checkbox" id="chinh_ngach" name="chinh_ngach"
                               value="1"
                               [(ngModel)]="carrier.chinh_ngach"
                               (change)="updateOrder('chinh_ngach')"> Chính ngạch
                          <span></span>
                        </label>
                      </div>
                      <div class="form-check form-check-inline mr-3">
                        <label class="check-label">
                          <input type="checkbox" id="vat" name="vat"
                               value="1"
                               (change)="updateOrder('vat')"
                               [(ngModel)]="carrier.vat"> VAT
                          <span></span>
                        </label>
                      </div>-->
                    </div>
                  </div>
                </div>
              </form>
            </div><!--/.col-->
          </div>
          <div class="row">
            <div class="col-lg-12">
              <strong class="mb-3 d-block fs-16">Kho Trung Quốc nhận hàng</strong>
              <div class="card entry-list mb-0">
                <div class="card-body p-0">
                  <div class="col-form-label">
                    <div *ngFor="let item of chinaWarehouses" class="form-check form-check-inline mr-1">
                      <input type="radio" name="chinaWarehouses" id="chinaWarehouses{{item.id}}" [value]="item.id"
                             [(ngModel)]="carrier.china_warehouses_id"
                             class="form-check-input">
                      <label for="chinaWarehouses{{item.id}}" class="form-check-label">{{item.name}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="form-group">
            <div class="controls">
              <button class="btn btn-warning" style="margin-right: 5px;" (click)="carrierSave(template)" type="button">Từ chối</button>
              <button class="btn btn-info" (click)="carrierSave(template)" type="button">Xác nhận</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!--/.row-->

  <div class="row">
    <div class="col-md-12">
      <div class="card entry-list detail tab-detail">
        <div class="card-header mt-3">
          <div class="title-list">
            <span>Danh sách địa chỉ kho nhận hàng tại Trung Quốc</span>
          </div>
        </div>
        <div class="card-body">
          <div *ngFor="let item of chinaWarehouses">
            <strong class="mb-3 d-block fs-16">{{item.name}} <span *ngIf="item.note">({{item.note}})</span></strong>
            <table class="table table-hover">
              <tbody>
              <tr>
                <td width="30%">Địa chỉ nhận hàng</td>
                <td>{{item.address}}</td>
              </tr>
              <tr>
                <td>Người nhận</td>
                <td>{{item.receiver}}</td>
              </tr>
              <tr>
                <td>Mã bưu điện</td>
                <td>{{item.zipcode}}</td>
              </tr>
              <tr>
                <td>Số điện thoại</td>
                <td>{{item.phone}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div><!--/.row-->
</div>

<ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title">Thông báo lỗi</h5>
  </div>
  <div class="modal-body">
    <alert type="danger" *ngIf="errorMessage.length > 0">
      <p *ngFor="let error of errorMessage"><strong>Lỗi!</strong> {{error}}</p>
    </alert>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" (click)="declineError()">OK</button>
  </div>
</ng-template>
