<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> <strong>Thông tin đơn hàng</strong>
      </div>
      <div class="card-body">
        <p><i class="fa fa-map-marker"></i> Trạng thái: <span
          class="badge badge-danger"> {{orderService.orderRe.status | tempStatus: status}}</span>
        </p>
        <p><i class="fa fa-qrcode"></i> Mã đơn: {{orderService.orderRe.code}}</p>
        <p><i class="fa fa-calendar"></i> Ngày tạo: {{orderService.orderRe.created_at | tempDate}}</p>
        <p><i class="fa fa-money"></i> Tổng tiền: {{orderService.orderRe | tempTongTienHang : 1}} <sup> đ</sup>
        <p *ngIf="orderService.orderRe.dat_coc"><i class="fa fa-money"></i> Đã thanh
          toán: {{orderService.orderRe.dat_coc.toString() | tempPrice: 1 : 1 : true}} <sup> đ</sup>
        <p><i class="fa fa-money"></i> Còn thiếu: {{orderService.orderRe | tempTongTienHang : 2}} <sup> đ</sup>
        </p>
        <p><i class="fa fa-edge"></i> Đặt tại website: <span
          *ngIf="orderService.orderRe.order_items && orderService.orderRe.order_items[0]"
          class="badge badge-danger"> {{orderService.orderRe.order_items[0].site}}</span>
        </p>
        <p *ngIf="orderService.orderRe.handle"><i class="fa fa-user"></i> Phụ
          trách: {{orderService.orderRe.handle.name}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> <strong>Thông tin khách hàng</strong>
      </div>
      <div class="card-body">
        <p *ngIf="orderService.orderRe.user"><i class="fa fa-user"></i> {{orderService.orderRe.user.name}}</p>
        <p *ngIf="orderService.orderRe.user"><i class="fa fa-phone-square"></i>
          {{orderService.orderRe.user.phone_number}}</p>
        <p *ngIf="orderService.orderRe.user"><i class="fa fa-envelope"></i>
          {{orderService.orderRe.user.email}}
        </p>
        <p *ngIf="orderService.orderRe.user"><i class="fa fa-map-marker" aria-hidden="true"></i>
          {{orderService.orderRe.user.address}}
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <i class="cui-comment-square icons"></i> <strong>Thông tin trao đổi</strong>
      </div>
      <div #scrollMe class="card-body comment-content">
        <div *ngFor="let item of comments" class="comment-item {{item.is_admin? 'admin-comment-item': ''}}"
             title="{{item.created_at}}">
          <b>{{item.user_name}}: </b>{{item.content}}
        </div>
      </div>
      <div class="card-footer">
        <div class="form-group">
          <div class="controls">
            <div class="input-group"><input [(ngModel)]="comment.content" #content="ngModel"
                                            class="form-control" id="content" name="content" size="16"
                                            type="text"><span class="input-group-append"><button
              (click)="addComment()"
              class="btn btn-secondary" type="button">Gửi đi</button></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p class="text-right"><span>Tỉ giá: {{orderService.orderRe.ti_gia}}</span></p>
<p class="text-right"><span *ngIf="orderService.orderRe.kiem_hang" class="badge badge-info">Kiểm đếm</span>
  <span *ngIf="orderService.orderRe.dong_go" class="badge badge-info">Đóng gỗ</span></p>
<form novalidate #form="ngForm" class="form-horizontal">
  <div class="card">
    <div class="card-body">
      <table class="table table-bordered table-sm">
        <thead>
        <tr>
          <th>Mã KS</th>
          <th>Ship khách</th>
          <th>Ship TT</th>
          <th>Trả shop</th>
          <th>Thanh toán</th>
          <th>Mã vận đơn</th>
          <th>Mã hợp đồng</th>
          <th>Trạng thái shop</th>
          <th>Phí vận phát sinh</th>
          <th>Ghi chú thanh lý</th>
          <th class="text-center">Thao tác</th>
        </tr>
        </thead>
        <tbody *ngIf="orderService.orderRe && orderService.orderRe.package && orderService.orderRe.package.length > 0">
        <ng-template ngFor let-item [ngForOf]="orderService.orderRe.package" let-i="index">
          <tr>
            <td>{{item.id}}</td>
            <td (click)="selectPackage(item,i,'ship_khach')">
              <input *ngIf="((package.id === item.id) && (col === 'ship_khach'))"
                     [(ngModel)]="package.ship_khach"
                     #ship_khach="ngModel"
                     class="form-control"
                     id="ship_khach"
                     name="ship_khach"
                     (change)="updatePackage(template)"
                     (blur)="hideInput()"
                     appAutofocus
                     type="number">
              <p *ngIf="((package.id !== item.id) || (col !== 'ship_khach'))">{{item.ship_khach}}</p>
            </td>
            <td (click)="selectPackage(item,i,'ship_tt')">
              <input *ngIf="((package.id === item.id) && (col === 'ship_tt'))"
                     [(ngModel)]="package.ship_tt"
                     #ship_tt="ngModel"
                     class="form-control"
                     id="ship_tt"
                     name="ship_tt"
                     (change)="updatePackage(template)"
                     (blur)="hideInput()"
                     appAutofocus
                     type="number">
              <p *ngIf="((package.id !== item.id) || (col !== 'ship_tt'))">{{item.ship_tt}}</p>
            </td>
            <td><p *ngIf="item.tra_shop"><span>¥</span>{{item.tra_shop | tempPrice: 1 : 1 : false}}</p></td>
            <td (click)="selectPackage(item,i,'thanh_toan')">
              <input *ngIf="((package.id === item.id) && (col === 'thanh_toan'))"
                     [(ngModel)]="package.thanh_toan"
                     #thanh_toan="ngModel"
                     class="form-control"
                     id="thanh_toan"
                     name="thanh_toan"
                     (change)="updatePackage(template)"
                     (blur)="hideInput()"
                     appAutofocus
                     type="number">
              <p *ngIf="((package.id !== item.id) || (col !== 'thanh_toan')) && item.thanh_toan">
                {{item.thanh_toan}}</p>
            </td>
            <td (click)="selectPackage(item,i,'package_code')">
              <input *ngIf="((package.id === item.id) && (col === 'package_code'))"
                     [(ngModel)]="package.package_code"
                     #package_code="ngModel"
                     class="form-control"
                     id="package_code"
                     name="package_code"
                     (change)="updatePackage(template)"
                     (blur)="hideInput()"
                     appAutofocus
                     type="text">
              <p *ngIf="((package.id !== item.id) || (col !== 'package_code'))">{{item.package_code}}</p>
            </td>
            <td (click)="selectPackage(item,i,'contract_code')">
              <input *ngIf="((package.id === item.id) && (col === 'contract_code'))"
                     [(ngModel)]="package.contract_code"
                     #contract_code="ngModel"
                     class="form-control"
                     id="contract_code"
                     name="contract_code"
                     (change)="updatePackage(template)"
                     (blur)="hideInput()"
                     appAutofocus
                     type="text">
              <p *ngIf="((package.id !== item.id) || (col !== 'contract_code'))">
                {{item.contract_code}}</p>
            </td>
            <td (click)="selectPackage(item,i,'status')">
              <select *ngIf="((package.id === item.id) && (col === 'status'))"
                      [(ngModel)]="package.status"
                      #status="ngModel"
                      id="status"
                      name="status"
                      (change)="updatePackage(template)"
                      (blur)="hideInput()"
                      appAutofocus
                      class="form-control">
                <option *ngFor="let item of pkStatus" value="{{item.id}}">{{item.name}}</option>
              </select>
              <p *ngIf="((package.id !== item.id) || (col !== 'status'))">{{item.status | tempPkStatus :
                pkStatus}}</p>
            </td>
            <td (click)="selectPackage(item,i,'phi_van_phat_sinh')">
              <input *ngIf="((package.id === item.id) && (col === 'phi_van_phat_sinh'))"
                     [(ngModel)]="package.phi_van_phat_sinh"
                     #phi_van_phat_sinh="ngModel"
                     class="form-control"
                     id="phi_van_phat_sinh"
                     name="phi_van_phat_sinh"
                     (change)="updatePackage(template)"
                     (blur)="hideInput()"
                     appAutofocus
                     type="text">
              <p *ngIf="((package.id !== item.id) || (col !== 'phi_van_phat_sinh'))">
                {{item.phi_van_phat_sinh | tempPrice: 1 : 1 : false}}<sup>đ</sup></p>
            </td>
            <td (click)="selectPackage(item,i,'note_tl')">
                    <textarea *ngIf="((package.id === item.id) && (col === 'note_tl'))"
                              [(ngModel)]="package.note_tl"
                              #note_tl="ngModel"
                              id="note_tl"
                              name="note_tl"
                              rows="3"
                              class="form-control"
                              (change)="updatePackage(template)"
                              (blur)="hideInput()"
                              appAutofocus>
                    </textarea>
              <p *ngIf="((package.id !== item.id) || (col !== 'note_tl'))">{{item.note_tl}}</p>
            </td>
            <td>
              <p *ngIf="i!==0" class="text-center" style="margin: 0;"><a style="cursor: pointer;"
                                                                         (click)="deletePackage(item);"
                                                                         href="javascript:void(0);">Hủy</a>
              </p>
            </td>
          </tr>
        </ng-template>
        <tr>
          <td colspan="15" class="text-right"><a (click)="addPackage();" style="cursor: pointer;"
                                                 href="javascript:void(0);"><i
            class="fa fa-plus-square"></i> Thêm mã vận đơn</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="orderService.orderRe && orderService.orderRe.order_items && orderService.orderRe.order_items.length > 0"
       class="card">
    <div class="card-body">
      <table class="table table-bordered table-sm">
        <thead>
        <tr>
          <th style="text-align: center;">STT</th>
          <th>Link</th>
          <th>Hình ảnh</th>
          <th>Màu sắc</th>
          <th>Size/mẫu</th>
          <th>Khách đặt</th>
          <th>Đơn giá</th>
          <th>Thành tiền</th>
          <th>Ghi chú của khách</th>
          <th>Ghi chú của NV</th>
        </tr>
        </thead>
        <tbody>
        <ng-template ngFor let-item [ngForOf]="orderService.orderRe.order_items" let-i="index">
          <tr class="{{item.amount? '' : 'yl-bg'}}">
            <td style="text-align: center;">{{i + 1}}</td>
            <td>
              <p><a target="_blank" rel="noopener noreferrer" href="{{item.pro_link}}">Xem</a></p>
            </td>
            <td><img src="{{item.image}}"></td>
            <td><p *ngIf="item.colortxt" class="pull-left m-1">{{item.colortxt}}</p></td>
            <td><p *ngIf="item.sizetxt" class="pull-left m-1">{{item.sizetxt}}</p></td>
            <td (click)="selectOrderItem(item,'amount')">
              <input
                *ngIf="((orderItem.id === item.id) && (col === 'amount'))"
                [(ngModel)]="orderItem.amount"
                #amount="ngModel" class="form-control"
                id="amount"
                name="amount"
                (change)="editOrderConfirm()"
                (blur)="hideInput()"
                appAutofocus
                type="number">
              <p *ngIf="((orderItem.id !== item.id) || (col !== 'amount'))">{{item.amount}}</p>
            </td>
            <td (click)="selectOrderItem(item,'price')">
              <input
                *ngIf="((orderItem.id === item.id) && (col === 'price'))"
                [(ngModel)]="orderItem.price"
                #price="ngModel" class="form-control"
                id="price"
                name="price"
                (change)="editOrderConfirm()"
                (blur)="hideInput()"
                appAutofocus
                type="number">
              <div *ngIf="((orderItem.id !== item.id) || (col !== 'price'))">
                <p *ngIf="orderService.orderRe">{{item.price | tempPrice:
                  orderService.orderRe.ti_gia :
                  1: false}}<sup>đ</sup></p>
                <p><span>¥</span>{{item.price | tempPrice: 1 : 1 : false}}</p>
              </div>
            </td>
            <td>
              <p>{{item.price | tempPrice: orderService.orderRe.ti_gia : item.amount: false}}<sup>đ</sup></p>
              <p><span>¥</span>{{item.price | tempPrice: 1 : item.amount : false}}</p>
            </td>
            <td>{{item.note}}</td>
            <td (click)="selectOrderItem(item,'nv_note')">
                    <textarea
                      *ngIf="((orderItem.id === item.id) && (col === 'nv_note'))"
                      [(ngModel)]="orderItem.nv_note"
                      #nv_note="ngModel"
                      id="nv_note"
                      name="nv_note"
                      (change)="editOrderConfirm()"
                      (blur)="hideInput()"
                      appAutofocus
                      rows="3"
                      class="form-control"></textarea>
              <p *ngIf="((orderItem.id !== item.id) || (col !== 'nv_note'))">{{item.nv_note}}</p>
            </td>
          </tr>
        </ng-template>
        <tr>
          <td colspan="7" class="text-right">Tiền hàng</td>
          <td colspan="3">{{orderService.orderRe.tien_hang.toString() | tempPrice: 1 : 1 : false}} <sup>đ</sup></td>
        </tr>
        <tr>
          <td colspan="7" class="text-right">Phí dịch vụ mua hàng (%)</td>
          <td colspan="3" (click)="phiDichVuEdit(true)">
            <input
              *ngIf="editPhiDichVu"
              [(ngModel)]="orderService.orderRe.phi_dat_hang_cs"
              #phi_dich_vu="ngModel" class="form-control"
              id="phi_dich_vu"
              name="phi_dich_vu"
              (change)="updatePhiKiemDem()"
              (blur)="phiDichVuEdit(false)"
              appAutofocus
              type="number">

            <p *ngIf="!editPhiDichVu">
              {{orderService.orderRe.phi_dat_hang_cs}}
            </p>
          </td>
        </tr>
        <tr>
          <td colspan="7" class="text-right">Phí dịch vụ mua hàng thành tiền</td>
          <td colspan="3">{{orderService.orderRe.phi_dat_hang_tt.toString() | tempPrice: 1 : 1 : false}} <sup>đ</sup>
          </td>
        </tr>
        <tr>
          <td colspan="7" class="text-right">Phí kiểm đếm</td>
          <td colspan="3"
              (click)="phiKiemDemEdit(true)">
            <input
              *ngIf="editPhiKiemDem"
              [(ngModel)]="orderService.orderRe.phi_kiem_dem_cs"
              #phi_kiem_dem="ngModel" class="form-control"
              id="phi_kiem_dem"
              name="phi_kiem_dem"
              (change)="updatePhiKiemDem()"
              (blur)="phiKiemDemEdit(false)"
              appAutofocus
              type="number">

            <p *ngIf="!editPhiKiemDem">
              {{orderService.orderRe.phi_kiem_dem_tt.toString() | tempPrice: 1 : 1 : false}}
              <sup>đ </sup> <!--<span><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>-->
            </p>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
<ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title">Thông báo lỗi</h5>
  </div>
  <div class="modal-body">
    <alert type="danger" *ngIf="errorMessage.length > 0">
      <p *ngFor="let error of errorMessage"><strong>Lỗi!</strong> {{error}}</p>
    </alert>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" (click)="declineError()">OK</button>
  </div>
</ng-template>
