img {
    max-width: 100px;
}

.yl-bg {
    background: bisque;
}

.comment-content {
    height: 200px;
    padding: 0.25rem;
    overflow: auto;
}

.comment-item {
    padding: 5px 5px 5px;
    margin-top: 2px;
    border-radius: 5px;
    background-color: #e0edff;
}

.admin-comment-item {
    background-color: beige;
}

.card-footer {
    padding: 5px;
}

.card-footer .form-group{
    margin: 0;
}

@media (max-width: 767px) {
    .card-body {
        overflow: auto;
        padding: 15px 5px;
    }

    .table-data {
        width: max-content;
    }
}

.badge {
  padding: 10px;
  margin-left: 3px;
}
.pager li.btn:active {
  box-shadow: none;
}

.form-check-label {
  margin-right: 25px;
}

table > tbody > tr > td img {
  max-width: 100px;
}

@media (max-width: 767px) {
  table > tbody > tr > td img {
    max-width: 60px;
  }

  p.colortxt {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60px;
  }
}
