<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card entry-list">
        <div class="card-header">
          <div class="row justify-content-between align-items-center">
            <div class="col-12 col-md-4">
              <div class="title-list">
                <span>Chi tiết bao hàng</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form *ngIf="bag&&bag.status===1" novalidate #form="ngForm">
            <div class="form-group space-7 row filter-advanced">
              <div class="col-md-3">
                <div class="input-group mb-1">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="iconsax isax-barcode"></i>
                    </div>
                  </div>
                  <input [(ngModel)]="package_code" type="text" id="package_code"
                         name="package_code"
                         class="form-control"
                         placeholder="Nhập mã vận đơn và nhấn Enter!">
                </div>
              </div>
              <div class="col-md-3">
                <button type="submit" (click)="getPackage()"
                        class="btn btn-primary mr-2 mb-1">
                  <img class="svg-white" src="assets/img/iconsax/additem.svg" alt="search">
                </button>
              </div>
            </div>
          </form>
          <div *ngIf="bag.package && bag.package.length" class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th style="width: 17%">Kiện hàng</th>
                <th style="width: 17%">Đơn hàng</th>
                <th style="width: 17%">Thông số</th>
                <th style="width: 5%">#</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of bag.package">
                <td>
                  <p><span class="packages-inf">Mã kiện</span><span class="packages-inf text-right">{{item.id}}</span>
                  </p>
                  <p><span class="packages-inf">Mã vận đơn</span><span
                    class="packages-inf text-right packages-code">{{item.package_code ? item.package_code : '--'}}</span>
                  </p>
                </td>
                <td>
                  <p><span class="packages-inf">Đơn hàng</span><span
                    class="packages-inf text-right packages-code"><strong>{{item.order.code}}</strong></span>
                  </p>
                  <p><span class="packages-inf">Khách hàng</span><span
                    class="packages-inf text-right"><strong>{{item.order.user.code}}
                    - {{item.order.user.name}}</strong></span>
                  </p>
                  <p *ngIf="item.order.shop"><span class="packages-inf">Shop</span><span
                    class="packages-inf text-right"><strong>{{item.order.shop.name}}</strong></span>
                  </p>
                </td>
                <td>
                  <p *ngIf="item.cal_option===0"><span class="packages-inf">Cân nặng (kg)</span><span
                    class="packages-inf text-right badge badge-info"><span>{{item.weight ? item.weight : '0.00'}}</span></span>
                  </p>
                  <p *ngIf="item.cal_option===1"><span class="packages-inf">Kích thước (m3)</span><span
                    class="packages-inf text-right badge badge-info"><span>{{item.size ? item.size : '0.00'}}</span></span>
                  </p>
                  <p *ngIf="item.cal_option===2"><span class="packages-inf">Dài (cm)</span><span
                    class="packages-inf text-right badge badge-info"><span>{{item.c_d ? item.c_d : '0.00'}}</span></span>
                  </p>
                  <p *ngIf="item.cal_option===2"><span class="packages-inf">Rộng (cm)</span><span
                    class="packages-inf text-right badge badge-info"><span>{{item.c_r ? item.c_r : '0.00'}}</span></span>
                  </p>
                  <p *ngIf="item.cal_option===2"><span class="packages-inf">Cao (cm)</span><span
                    class="packages-inf text-right badge badge-info"><span>{{item.c_c ? item.c_c : '0.00'}}</span></span>
                  </p>
                  <p *ngIf="item.cal_option===2"><span class="packages-inf">Quy đổi (Kg)</span>
                    <span class="packages-inf text-right badge badge-info">
                      <span>{{item.weight_qd ? item.weight_qd : '0.00'}}</span>
                    </span>
                  </p>
                </td>
                <td>
                  <button *ngIf="bag&&bag.status===1" (click)="removePackage(item)"
                          class="btn btn-sm btn-danger mr-1 text-white" type="button">
                    Loại bỏ
                  </button>
                </td>
              </tr>
              <tr>
                <td colspan="4">
                  <input [disabled]="bag&&bag.status!==1" title="" [(ngModel)]="bag.dvvc" type="text" id="dvvc"
                         (change)="updateBag('dvvc')"
                         name="dvvc"
                         class="form-control"
                         placeholder="Đơn vị vận chuyển">
                </td>
              </tr>
              <tr>
                <td colspan="4">
                  <textarea title="" [(ngModel)]="bag.note_tq" id="note_tq" name="note_tq" rows="3"
                            (change)="updateBag('note_tq')"
                            class="form-control"
                            placeholder="Ghi chú Trung Quốc..."></textarea>
                </td>
              </tr>
              <tr>
                <td colspan="4">
                  <textarea [disabled]="bag&&bag.status!==2" title="" [(ngModel)]="bag.note_tc" id="note_tc"
                            name="note_tc" rows="3"
                            (change)="updateBag('note_tc')"
                            class="form-control"
                            placeholder="Ghi chú trung chuyển..."></textarea>
                </td>
              </tr>
              <tr>
                <td colspan="4">
                  <textarea disabled title="" [(ngModel)]="bag.note_vn" id="note_vn" name="note_vn" rows="3"
                            class="form-control"
                            placeholder="Ghi chú Việt Nam..."></textarea>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div *ngIf="bag.package && bag.package.length" class="card-footer">
          <alert type="danger" *ngIf="errorMessage && errorMessage.length > 0">
            <p *ngFor="let error of errorMessage"><strong>Lỗi!</strong> {{error}}</p>
          </alert>
          <label *ngIf="bag&&bag.status===1" class="alert alert-warning">Nhấn "Hoàn thành tạo bao hàng" sẽ chuyển trạng
            thái kiện
            hàng thành
            "Đang về VN"</label>
          <div class="pull-right">
            <div class="card-header-actions">
              <ul class="header-actions">
                <li *ngIf="bag&&bag.status===1">
                  <button class="btn btn-block btn-danger btn-rounded"
                          (click)="deleteBag()"
                          type="button">Hủy
                  </button>
                </li>
                <li *ngIf="bag&&bag.status===1">
                  <button class="btn btn-block btn-primary btn-rounded"
                          (click)="updateStatus(2)"
                          type="button">Hoàn thành tạo bao hàng
                  </button>
                </li>
                <li *ngIf="bag&&bag.status===2">
                  <button class="btn btn-block btn-primary btn-rounded"
                          (click)="updateStatus(3)"
                          type="button">Xác nhận TC
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div><!-- /.container-fluid -->
