<div class="card entry-list detail">
  <div class="card-header">
    <div class="row justify-content-between align-items-center">
      <div class="col-12 col-md-6">
        <div class="title-list">
          <span>{{authService.user.code}} - {{authService.user.name}}</span>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="card-header-actions">
          <button (click)="rutTien(templateRutTien)"
                  class="btn btn-block btn-outline-primary btn-sm"
                  type="button">Rút tiền
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="authService.user" class="card-body entry-detail">
    <div class="row">
      <div class="col-md-4 table-responsive">
        <table class="table table-hover table-bordered">
          <tbody>
          <tr>
            <td style="    vertical-align: middle;
    font-weight: bold;"><i class="fa fa-usd" aria-hidden="true"></i> Số dư</td>
            <td style="font-size: 24px;
    font-weight: bold;
    color: red;
}">{{authService.user.debt.toString() | tempPrice : 1 : 1: true}} <sup>đ</sup></td>
          </tr>
          <tr style="    vertical-align: middle;
    font-weight: bold;">
            <td><i class="fa fa-usd" aria-hidden="true"></i> Tổng tiền đã nạp</td>
            <td style="color: #43A047;">{{totalTransactions.toString() | tempPrice : 1 : 1: true}} <sup>đ</sup></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <tabset class="tab-container">
      <tab>
        <ng-template tabHeading>Lịch sử giao dịch</ng-template>
        <div class="row">
          <div class="col-md-12 table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th rowspan="2">Ngày giao dịch</th>
                <th rowspan="2">Mã giao dịch</th>
                <th rowspan="2">Loại giao dịch</th>
                <th rowspan="2">Nội dung</th>
                <th rowspan="2" class="text-right">Giá trị</th>
                <th rowspan="2" class="text-right">Dư nợ</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of transactions; let i = index">
                <td>{{item.created_at}}</td>
                <td>{{item.code}}</td>
                <td>
                  <span *ngIf="item.otype.value > 0" class="badge badge-success">{{item.otype.name}}</span>
                  <span *ngIf="item.otype.value < 0" class="badge badge-warning">{{item.otype.name}}</span>
                </td>
                <td>{{item.content}}</td>
                <td class="text-right">
                  <span *ngIf="item.otype.value > 0" class="badge badge-success float-left">+</span>
                  <span *ngIf="item.otype.value < 0"
                        class="badge badge-warning float-left">-</span>{{item.value.toString() |
                  tempPrice : 1 : 1: true}} <sup>đ</sup>
                </td>
                <td *ngIf="i===0" class="text-right"><span
                  class="badge badge-danger">{{item.debt.toString() | tempPrice : 1 : 1: true}}
                  <sup>đ</sup></span>
                </td>
                <td *ngIf="i>0" class="text-right">{{item.debt.toString() | tempPrice : 1 : 1: true}} <sup>đ</sup></td>
              </tr>
              </tbody>
            </table>
            <p></p>
            <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="userService.tSearch.page"
                        [itemsPerPage]="userService.tSearch.limit"
                        (pageChanged)="pageChanged($event)"
                        class="pagination-sm pull-right" [maxSize]="6"
                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                        lastText="&raquo;"></pagination>
          </div>
        </div>
      </tab>
      <tab>
        <ng-template tabHeading>Yêu cầu rút tiền</ng-template>
        <div class="row">
          <div class="col-md-12 table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th rowspan="2">Mã</th>
                <th rowspan="2">Ngày yêu cầu</th>
                <th rowspan="2">Số tiền</th>
                <th rowspan="2">Nội dung</th>
                <th rowspan="2">Trạng thái</th>
                <th rowspan="2" class="text-right">Tác vụ</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of withdrawalRequests; let i = index">
                <td>{{item.id}}</td>
                <td>{{item.created_at}}</td>
                <td>{{item.value.toString() |
                  tempPrice : 1 : 1: true}} <sup>đ</sup></td>
                <td>{{item.content}}</td>
                <td>
                  <p>
                    <span *ngIf="item.status === 1" class="badge badge-warning">Chờ duyệt</span>
                    <span *ngIf="item.status === 2" class="badge badge-info">Đã duyệt</span>
                    <span *ngIf="item.status === 3" class="badge badge-danger">Từ chối</span>
                  </p>
                  <p *ngIf="item.feedback">{{item.feedback}}</p>
                </td>
                <td class="text-right">
                  <button *ngIf="item.status===1" (click)="huyRutTien(templateHuy, item)"
                          class="btn btn-sm btn-ghost-primary"
                          type="button">Hủy
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
  <div class="card-footer">

  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card entry-list">
        <div class="card-header">
          <div class="title-list">
            <span>Thông tin nạp tiền</span>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md col-12">
              <div class="h-100">
                <strong class="mb-3 d-block fs-16">Agribank</strong>
                <div class="card widget-item">
                  <div class="card-body">
                    <p>Số tài khoản: <b>1507205xxxxxx</b></p>
                    <p>Người thụ hưởng: <b>Hà Hương Giang</b></p>
                    <p>Chi nhánh: <b>Agribank Cầu Giấy</b></p>
                    <p style="color: brown;">Nội dung nạp tiền: <b>BNAS [dấu cách] [Số điện thoại]</b></p>
                    <p style="color: brown;">Ví dụ: <b>BNAS 0974845678</b></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md col-12">
              <div class="h-100">
                <strong class="mb-3 d-block fs-16">TP bank</strong>
                <div class="card widget-item">
                  <div class="card-body">
                    <p>Số tài khoản: <b>0365637xxxxxx</b></p>
                    <p>Người thụ hưởng: <b>Hà Hương Giang</b></p>
                    <p style="color: brown;">Nội dung nạp tiền: <b>BNAS [dấu cách] [Số điện thoại]</b></p>
                    <p style="color: brown;">Ví dụ: <b>BNAS 0974845678</b></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md col-12">
              <div class="h-100">
                <strong class="mb-3 d-block fs-16">Vietcombank</strong>
                <div class="card widget-item">
                  <div class="card-body">
                    <p>Số tài khoản: <b>1014576xxxxxx</b></p>
                    <p>Người thụ hưởng: <b>Hà Hương Giang</b></p>
                    <p style="color: brown;">Nội dung nạp tiền: <b>BNAS [dấu cách] [Số điện thoại]</b></p>
                    <p style="color: brown;">Ví dụ: <b>BNAS 0974845678</b></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <strong class="mb-3 d-block fs-16">Hỗ trợ kỹ thuật</strong>
            <p>Email: <a href="mailto:hotro.dathang@gmail.com">: hotro.dathang@gmail.com</a></p>
          </div>
        </div>
      </div>
    </div>
  </div><!--/.row-->
</div>

<ng-template #templateRutTien>
  <div class="modal-header">
    <h5 class="modal-title">Yêu cầu rút tiền</h5>
  </div>
  <div class="modal-body">
    <form novalidate #form="ngForm">
      <div class="form-group">
        <label for="value">Số tiền muốn rút (VNĐ) <code class="highlighter-rouge">*</code></label>
        <input [(ngModel)]="inputRutTien.value" #value="ngModel" class="form-control" id="value"
               name="value"
               required
               placeholder="Số tiền muốn rút"
               type="number">
        <div [hidden]="value.valid || value.untouched">
                                <span *ngIf="value.errors && value.errors.required"
                                      class="badge badge-warning">
                                    Phải nhập số tiền muốn rút!
                                </span>
        </div>
      </div>
      <div class="form-group">
        <label for="content">Nội dung</label>
        <textarea [(ngModel)]="inputRutTien.content" class="form-control" id="content" name="content"
                  placeholder="..." rows="3"></textarea>
      </div>
      <p></p>
      <alert type="danger" *ngIf="errorMessage.length > 0">
        <p *ngFor="let error of errorMessage"><strong>Lỗi!</strong> {{error}}</p>
      </alert>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="confirm()">OK</button>
    <button type="button" class="btn btn-warning" (click)="decline()">Cancel</button>
  </div>
</ng-template>

<ng-template #templateHuy>
  <div class="modal-body text-center">
    <p>Bạn có chắc chắn muốn hủy yêu cầu này!?</p>
    <div class="btn-group btn-group-toggle">
      <button type="button" class="btn btn-warning" (click)="confirmHuy()">Yes</button>
      <button type="button" class="btn btn-primary" (click)="decline()">No</button>
    </div>
  </div>
</ng-template>
