<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card mx-4">
                        <div class="card-body p-4">
                            <div *ngIf="sSuccess" class="alert alert-success">
                                <h6>Kích hoạt tài khoản thành công!</h6>
                                <p>NAME: {{user.name}}</p>
                                <p>EMAIL: {{user.email}}</p>
                                <p class="mt-2"><a (click)="login()" href="javascript:void(0);"
                                                   style="font-size: 14px"><i class="cui-shield icons"></i> Đăng
                                    nhập</a></p>
                            </div>
                            <div *ngIf="rError" class="alert alert-warning">
                                <h6>Kích hoạt tài khoản thất bại!</h6>
                                <strong><i class="fa fa-exclamation-triangle"
                                           aria-hidden="true"></i> Warning!</strong> {{alert}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
