<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form *ngIf="resetPass.email" #form="ngForm" id="login-form">
                <h1>Thiết lập lại mật khẩu</h1>
                <h6>Email: {{resetPass.email}}</h6>
                <div *ngIf="!sSuccess">
                  <p class="text-muted">Nhập mật khẩu mới ...</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input [(ngModel)]="resetPass.password" #password="ngModel" id="password"
                           name="password" type="password" class="form-control" placeholder="Mật khẩu"
                           autocomplete="new-password" required>
                    <div [hidden]="password.valid || password.untouched" class="message-valid">
                                        <span *ngIf="password.errors && password.errors.required"
                                              class="badge badge-danger">
                                            Phải nhập Mật khẩu!
                                        </span>
                    </div>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input [(ngModel)]="resetPass.password_confirmation" #c_password="ngModel"
                           id="c_password"
                           name="c_password" type="password" class="form-control"
                           placeholder="Nhắc lại mật khẩu"
                           autocomplete="new-password" required>
                    <div [hidden]="c_password.valid || c_password.untouched" class="message-valid">
                                        <span *ngIf="c_password.errors && c_password.errors.required"
                                              class="badge badge-danger">
                                            Phải nhắc lại Mật khẩu!
                                        </span>
                    </div>
                  </div>
                </div>

                <div *ngIf="rError" class="alert alert-danger">
                  <p *ngFor="let error of alert"><strong><i class="fa fa-exclamation-triangle"
                                                            aria-hidden="true"></i> Warning!</strong> {{error}}</p>
                </div>
                <div *ngIf="sSuccess" class="alert alert-success">
                  <p *ngFor="let mess of alert"><strong><i class="fa fa-exclamation-triangle"
                                                           aria-hidden="true"></i> Success!</strong> {{mess}}</p>
                </div>
                <button *ngIf="!sSuccess" [disabled]="!form.form.valid" (click)="postResetPass()" type="button"
                        class="btn btn-block btn-primary">OK
                </button>
              </form>
              <div *ngIf="!resetPass.email" class="alert alert-warning">
                <strong><i class="fa fa-exclamation-triangle"
                           aria-hidden="true"></i> Warning!</strong> Not Email!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
