<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card entry-list">
        <div class="card-header">
          <div class="row justify-content-between align-items-center">
            <div class="col-12 col-md-6">
              <div class="title-list">
                <span>Kiện hàng trong kho Việt Nam</span>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <form novalidate #form="ngForm">
            <div class="form-group space-7 row filter-advanced">
              <div class="col-md-5">
                <div class="row space-7">
                  <div class="col-md">
                    <div class="input-group mb-1">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="iconsax isax-document-forward"></i>
                        </div>
                      </div>
                      <input [(ngModel)]="packageService.search.package_code" type="text" id="package_code"
                             name="package_code"
                             class="form-control"
                             placeholder="Mã vận đơn">
                    </div>
                  </div>

                  <div class="col-md">
                    <div class="input-group mb-1">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="iconsax isax-document-text-1"></i>
                        </div>
                      </div>
                      <input [(ngModel)]="packageService.search.code" type="text" id="code" name="code"
                             class="form-control"
                             placeholder="Mã đơn hàng">
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-md-7">
                <div class="row space-7">
                  <div class="col-md-11">
                    <div class="input-group mb-1">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="iconsax isax-edit-2"></i>
                        </div>
                      </div>
                      <input [(ngModel)]="packageService.search.key" type="text" id="key" name="key"
                             class="form-control"
                             placeholder="Tìm kiếm theo tên khách hàng, email, số điện thoại">
                    </div>
                  </div>
                  <div class="col-md-1">
                    <button type="submit" (click)="searchPackages()"
                            class="btn btn-primary mb-1">
                      <img class="svg-white" src="assets/img/iconsax/vuesax-bold-bootsrap.svg" alt="search">
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th style="width: 17%">Kiện hàng</th>
                <th style="width: 17%">Đơn hàng</th>
                <th style="width: 17%">Thông số</th>
                <th style="width: 17%">Nhập kho</th>
                <th style="width: 17%">Vị trí trong kho</th>
                <th style="width: 17%">Ghi chú</th>
                <th style="width: 5%">#</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of packages">
                <td>
                  <p><span class="packages-inf">Mã kiện</span><span class="packages-inf text-right">{{item.id}}</span>
                  </p>
                  <p><span class="packages-inf">Mã vận đơn</span><span
                    class="packages-inf text-right packages-code">{{item.package_code ? item.package_code : '--'}}</span>
                  </p>
                  <p *ngIf="item.bill_id"><span class="packages-inf">Phiếu xuất</span><span
                    class="packages-inf text-right packages-status badge badge-info"><a href="javascript:void(0);"
                                                                                        (click)="gotoBill(item.bill_id)"><span
                    class="packages-inf text-right"><strong>{{item.bill_id}}</strong></span></a></span>
                  </p>
                </td>
                <td>
                  <p><span class="packages-inf">Đơn hàng</span><a href="javascript:void(0);"
                                                                  (click)="gotoOrder(item.order_id)"><span
                    class="packages-inf text-right packages-code"><strong>{{item.order.code}}</strong></span></a>
                  </p>
                  <p><span class="packages-inf">Khách hàng</span><span
                    class="packages-inf text-right"><strong>{{item.order.user.code}}
                    - {{item.order.user.name}}</strong></span>
                  </p>
                  <p><span class="packages-inf">Email</span><span
                    class="packages-inf text-right"><strong>{{item.order.user.email}}</strong></span>
                  </p>
                  <p><span class="packages-inf">Số điện thoại</span><span
                    class="packages-inf text-right"><strong>{{item.order.user.phone_number}}</strong></span>
                  </p>
                </td>
                <td>
                  <p *ngIf="item.cal_option===0"><span class="packages-inf">Cân nặng (kg)</span><span
                    class="packages-inf text-right badge badge-info"><span>{{item.weight ? item.weight : '0.00'}}</span></span>
                  </p>
                  <p *ngIf="item.cal_option===1"><span class="packages-inf">Thể tích (m3)</span><span
                    class="packages-inf text-right badge badge-info"><span>{{item.size ? item.size : '0.00'}}</span></span>
                  </p>
                  <p *ngIf="item.cal_option===2"><span class="packages-inf">Dài (cm)</span><span
                    class="packages-inf text-right badge badge-info"><span>{{item.c_d ? item.c_d : '0.00'}}</span></span>
                  </p>
                  <p *ngIf="item.cal_option===2"><span class="packages-inf">Rộng (cm)</span><span
                    class="packages-inf text-right badge badge-info"><span>{{item.c_r ? item.c_r : '0.00'}}</span></span>
                  </p>
                  <p *ngIf="item.cal_option===2"><span class="packages-inf">Cao (cm)</span><span
                    class="packages-inf text-right badge badge-info"><span>{{item.c_c ? item.c_c : '0.00'}}</span></span>
                  </p>
                  <p *ngIf="item.cal_option===2"><span class="packages-inf">Quy đổi (Kg)</span>
                    <span class="packages-inf text-right badge badge-info">
                      <span>{{item.weight_qd ? item.weight_qd : '0.00'}}</span>
                    </span>
                  </p>
                </td>
                <td>
                  <div *ngIf="item.receipt">
                    <p><span class="packages-inf">Phiếu nhập</span><span
                      class="packages-inf text-right badge badge-info"><span>{{item.receipt.code}}</span></span>
                    </p>
                    <p><span class="packages-inf">Ngày nhập</span><span
                      class="packages-inf text-right badge badge-info"><span>{{item.receipt.receipt_date | tempDate}}</span></span>
                    </p>
                    <p *ngIf="item.receipt.user"><span class="packages-inf">Người nhập</span><span
                      class="packages-inf text-right badge badge-info"><span>{{item.receipt.user.name}}</span></span>
                    </p>
                    <p><i>{{item.receipt.note}}</i></p>
                  </div>
                </td>
                <td (click)="selectPackage(item,'vi_tri_kho_viet')">
                  <input *ngIf="((package.id === item.id) && (col === 'vi_tri_kho_viet'))"
                         [(ngModel)]="item.vi_tri_kho_viet"
                         #vi_tri_kho_viet="ngModel"
                         class="form-control"
                         id="vi_tri_kho_viet"
                         name="vi_tri_kho_viet"
                         (change)="updatePackage(template, 'vi_tri_kho_viet')"
                         (blur)="hideInput()"
                         appAutofocus
                         placeholder="Vị trí ..."
                         type="text">
                  <span *ngIf="((package.id !== item.id) || (col !== 'vi_tri_kho_viet'))">
                        <span *ngIf="item.vi_tri_kho_viet">
                          {{item.vi_tri_kho_viet}}
                        </span>
                      </span>
                </td>
                <td (click)="selectPackage(item,'ghi_chu_kho_viet')">
                  <textarea *ngIf="((package.id === item.id) && (col === 'ghi_chu_kho_viet'))"
                            [(ngModel)]="item.ghi_chu_kho_viet"
                            #ghi_chu_kho_viet="ngModel"
                            id="ghi_chu_kho_viet" name="ghi_chu_kho_viet" rows="3"
                            class="form-control"
                            (change)="updatePackage(template, 'ghi_chu_kho_viet')"
                            (blur)="hideInput()"
                            placeholder="Ghi chú ..."></textarea>
                  <span *ngIf="((package.id !== item.id) || (col !== 'ghi_chu_kho_viet'))">
                        <span *ngIf="item.ghi_chu_kho_viet">
                          {{item.ghi_chu_kho_viet}}
                        </span>
                      </span>
                </td>
                <td>
                  <button *ngIf="item.package_code" (click)="printBarcode(barcodeTemplate, item.package_code)"
                          class="btn btn-sm btn-info mr-1 text-white" type="button">
                    In
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <pagination [boundaryLinks]="true" [totalItems]="totalItems"
                      [(ngModel)]="packageService.search.page"
                      [itemsPerPage]="packageService.search.limit"
                      (pageChanged)="pageChanged($event)"
                      class="pagination-sm pull-right" [maxSize]="6"
                      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                      lastText="&raquo;"></pagination>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div><!-- /.container-fluid -->

<ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title">Thông báo lỗi</h5>
  </div>
  <div class="modal-body">
    <alert type="danger" *ngIf="errorMessage.length > 0">
      <p *ngFor="let error of errorMessage"><strong>Lỗi!</strong> {{error}}</p>
    </alert>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" (click)="declineError()">OK</button>
  </div>
</ng-template>

<ng-template #barcodeTemplate>
  <div class="modal-header">
    <h5 class="modal-title">In mã vạch</h5>
  </div>
  <div id="print-section" class="modal-body">
    <p style="text-align: center;">
      <ngx-barcode [bc-value]="barcodeVal" [bc-display-value]="true"></ngx-barcode>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="print()">Print</button>
    <button type="button" class="btn btn-warning" (click)="declineError()">Quay lại</button>
  </div>
</ng-template>
