<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card entry-list detail tab-detail">
        <div class="card-header mt-3">
          <div class="title-list">
            <span>Chi tiết đơn hàng</span>
          </div>
        </div>
        <div class="card-body entry-detail p-0">
          <div class="col-md-12 mb-4">
            <!-- Nav tabs -->
            <tabset>
              <tab>
                <ng-template tabHeading>
                  Thông tin
                </ng-template>
                <app-myorder-detail-info></app-myorder-detail-info>
              </tab>
              <tab>
                <ng-template tabHeading>
                  Lịch sử
                </ng-template>
                <app-order-detail-myhistory></app-order-detail-myhistory>
              </tab>
              <tab>
                <ng-template tabHeading>
                  Khiếu nại
                </ng-template>
                <app-myorder-detail-complain></app-myorder-detail-complain>
              </tab>
            </tabset>
          </div><!--/.col-->
        </div>
      </div>
    </div>
  </div><!--/.row-->
</div>
