<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card entry-list">
        <div class="card-header">
          <div class="row justify-content-between align-items-center">
            <div class="col-12 col-md-3">
              <div class="title-list">
                <span>Kiện hàng</span>
              </div>
            </div>
            <div class="col-12 col-md-9">
              <tabset>
                <tab>
                  <ng-template tabHeading>
                    <div class="tab-title" (click)="selectTab()">
                      Tất cả
                    </div>
                  </ng-template>
                </tab>
                <tab *ngFor="let item of pkStatus">
                  <ng-template tabHeading>
                    <div (click)="selectTab(item.id.toString())">
                      {{item.name}}
                      <!-- <span class="badge badge-pill badge-danger">{{ item.id | tempCountByStatus : counts}}</span> -->
                    </div>
                  </ng-template>
                </tab>
              </tabset>
            </div>
          </div>
        </div>

        <div class="card-body">
          <form novalidate (ngSubmit)="searchPackages()" #form="ngForm">
            <div class="form-group space-7 row filter-advanced">
              <div class="col-md-5">
                <div class="row space-7">
                  <div class="col-md">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="iconsax isax-document-text-1"></i>
                        </div>
                      </div>
                      <input [(ngModel)]="packageService.search.code" type="text" id="code" name="code"
                             class="form-control"
                             placeholder="Mã đơn hàng">
                    </div>
                  </div>
                  <div class="col-md">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="iconsax isax-document-forward"></i>
                        </div>
                      </div>
                      <input [(ngModel)]="packageService.search.package_code" type="text" id="package_code"
                             name="package_code"
                             class="form-control"
                             placeholder="Mã vận đơn">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <div class="row space-7">
                  <div class="col-md-11">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="iconsax isax-edit-2"></i>
                        </div>
                      </div>
                      <input [(ngModel)]="packageService.search.key" type="text" id="key" name="key"
                             class="form-control"
                             placeholder="Tìm kiếm theo tên khách hàng, email, số điện thoại">
                    </div>
                  </div>
                  <div class="col-md-1">
                    <button type="submit" (click)="searchPackages()"
                            class="btn btn-primary">
                      <img class="svg-white" src="assets/img/iconsax/vuesax-bold-bootsrap.svg" alt="search">
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <table class="table table-hover">
            <thead>
            <tr>
              <th style="width: 20%">Kiện hàng</th>
              <th style="width: 20%">Đơn hàng</th>
              <th style="width: 15%">Thông số</th>
              <th style="width: 15%">Phí vận</th>
              <th style="width: 15%">Đóng gỗ/ chống sốc</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of packages">
              <td>
                <p><span class="packages-inf">Mã kiện</span><span class="packages-inf text-right">{{item.id}}</span>
                </p>
                <p><span class="packages-inf">Mã vận đơn</span><span
                  class="packages-inf text-right packages-code">{{item.package_code ? item.package_code : '--'}}</span>
                </p>
                <p><span class="packages-inf">Trạng thái</span><span
                  class="packages-inf text-right packages-status badge badge-info">{{item.status | tempPkStatus :
                  pkStatus}}</span>
                </p>
                <p *ngIf="item.bill_id"><span class="packages-inf">Phiếu xuất</span><span
                  class="packages-inf text-right packages-status badge badge-info"><a href="javascript:void(0);"
                                                                                      (click)="gotoBill(item.bill_id)"><span
                  class="packages-inf text-right"><strong>{{item.bill_id}}</strong></span></a></span>
                </p>
              </td>
              <td>
                <p><span class="packages-inf">Đơn hàng</span><a href="javascript:void(0);"
                                                                (click)="gotoOrder(item.order_id)"><span
                  class="packages-inf text-right packages-code"><strong>{{item.order.code}}</strong></span></a>
                </p>
                <p><span class="packages-inf">Khách hàng</span><span
                  class="packages-inf text-right"><strong>{{item.order.user.code}} - {{item.order.user.name}}</strong></span>
                </p>
                <p><span class="packages-inf">Email</span><span
                  class="packages-inf text-right"><strong>{{item.order.user.email}}</strong></span>
                </p>
                <p><span class="packages-inf">Số điện thoại</span><span
                  class="packages-inf text-right"><strong>{{item.order.user.phone_number}}</strong></span>
                </p>
              </td>
              <td>
                <p><span class="packages-inf">Áp giá theo</span>
                  <span (click)="selectPackage(item,'cal_option')" class="packages-inf text-right badge badge-info">
                      <select [(ngModel)]="item.cal_option" #cal_option="ngModel"
                              class="form-control"
                              (change)="updatePackage(template, 'cal_option')"
                              name="cal_option" id="cal_option">
                        <option value="0">Cân nặng</option>
                        <option value="1">Thể tích</option>
                      </select>
                  </span>
                </p>
                <p><span class="packages-inf">Cân nặng (kg)</span><span
                  (click)="selectPackage(item,'weight')"
                  class="packages-inf text-right badge badge-info">
                                    <input *ngIf="((package.id === item.id) && (col === 'weight'))"
                                           [(ngModel)]="item.weight"
                                           #weight="ngModel"
                                           class="form-control"
                                           id="weight"
                                           name="weight"
                                           (change)="updatePackage(template, 'weight')"
                                           (blur)="hideInput()"
                                           appAutofocus
                                           type="number">
                                <span
                                  *ngIf="((package.id !== item.id) || (col !== 'weight'))">{{item.weight ? item.weight : '0.00'}}</span>
                                </span>
                </p>
                <p><span class="packages-inf">Thể tích (m3)</span><span
                  (click)="selectPackage(item,'size')"
                  class="packages-inf text-right badge badge-info">
                                    <input *ngIf="((package.id === item.id) && (col === 'size'))"
                                           [(ngModel)]="item.size"
                                           #size="ngModel"
                                           class="form-control"
                                           id="size"
                                           name="size"
                                           (change)="updatePackage(template, 'size')"
                                           (blur)="hideInput()"
                                           appAutofocus
                                           type="number">
                                <span
                                  *ngIf="((package.id !== item.id) || (col !== 'size'))">{{item.size ? item.size : '0.00'}}</span>
                                </span>
                </p>
              </td>
              <td>
                <p><span class="packages-inf">Giá vận (vnđ)</span>
                  <span (click)="selectPackage(item,'gia_can')" class="packages-inf text-right badge badge-info">
                    <input *ngIf="((package.id === item.id) && (col === 'gia_can'))"
                           [(ngModel)]="item.gia_can"
                           #gia_can="ngModel"
                           class="form-control"
                           id="gia_can"
                           name="gia_can"
                           (change)="updatePackage(template, 'gia_can')"
                           (blur)="hideInput()"
                           appAutofocus
                           type="number">
                    <span *ngIf="((package.id !== item.id) || (col !== 'gia_can'))">
                      <span *ngIf="item.gia_can">
                        {{item.gia_can.toString() | tempPrice: 1 : 1: true}}<sup> đ</sup>
                      </span>
                    </span>
                  </span>
                </p>
                <p>
                  <span class="packages-inf">VIP</span>
                  <span class="packages-inf text-right badge badge-info">
                    <span>
                      <span *ngIf="item.ck_vc_tt">
                        {{item.ck_vc_tt.toString() | tempPrice: 1 : 1: true}}<sup> đ</sup>
                      </span>
                    </span>
                  </span>
                </p>
                <p>
                  <span class="packages-inf">Phí vận (vnđ)</span>
                  <span class="packages-inf text-right badge badge-info">
                    <span>
                      <span *ngIf="item.tien_can_tt">
                        {{item.tien_can_tt.toString() | tempPrice: 1 : 1: true}}<sup> đ</sup>
                      </span>
                    </span>
                  </span>
                </p>
              </td>
              <td>

              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <pagination [boundaryLinks]="true" [totalItems]="totalItems"
                      [(ngModel)]="packageService.search.page"
                      [itemsPerPage]="packageService.search.limit"
                      (pageChanged)="pageChanged($event)"
                      class="pagination-sm pull-right" [maxSize]="6"
                      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                      lastText="&raquo;"></pagination>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div><!-- /.container-fluid -->

<ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title">Thông báo lỗi</h5>
  </div>
  <div class="modal-body">
    <alert type="danger" *ngIf="errorMessage.length > 0">
      <p *ngFor="let error of errorMessage"><strong>Lỗi!</strong> {{error}}</p>
    </alert>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" (click)="declineError()">OK</button>
  </div>
</ng-template>
