<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card entry-list detail">
        <div class="card-header">
          <div class="row justify-content-between align-items-center">
            <div class="col-12 col-md-6">
              <div class="title-list">
                <span>Chi tiết Nhà cung cấp</span>
              </div>
            </div>
            <div class="col-12 col-md-6 text-right d-md-down-none">
              <div class="" role="group" aria-label="Button group with nested dropdown">
                <a class="btn btn-sm btn-info text-white btn-rounded mr-2 fs-14" href="javascript:void(0)"
                   (click)="updateShop()">Cập nhật</a>
                <a class="btn btn-sm btn-warning btn-rounded fs-14" href="javascript:void(0)" (click)="backlist()">Quay
                  lại</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body entry-detail p-0">
          <div *ngIf="shopService.shop" class="col-md-12 mb-4">
            <form novalidate #form="ngForm" class="form-horizontal">
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="name">
                  Tên <code class="highlighter-rouge">*</code>
                </label>
                <div class="col-md-9">
                  <input [(ngModel)]="shopService.shop.name" #name="ngModel" type="text" id="name"
                         name="name"
                         required
                         disabled
                         class="form-control"
                         placeholder="Tên">
                  <div [hidden]="name.valid || name.untouched">
                                <span *ngIf="name.errors && name.errors.required"
                                      class="badge badge-warning">
                                    Phải nhập Tên!
                                </span>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="url">
                  Đường dẫn <code class="highlighter-rouge">*</code>
                </label>
                <div class="col-md-9">
                  <input [(ngModel)]="shopService.shop.url" #url="ngModel" type="text" id="url"
                         name="url"
                         disabled
                         class="form-control"
                         placeholder="Đường dẫn">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="features">
                  Ngành nghề
                </label>
                <div class="col-md-9">
                  <input [(ngModel)]="shopService.shop.features" #features="ngModel" type="text" id="features"
                         name="features"
                         class="form-control"
                         placeholder="Ngành nghề">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="note">
                  Ghi chú
                </label>
                <div class="col-md-9">
                  <textarea [(ngModel)]="shopService.shop.note" id="note" name="note" rows="3"
                            class="form-control"
                            placeholder="Ghi chú ..."></textarea>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="note">
                  Đơn đã thực hiện
                </label>
                <div class="col-md-9">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                      <tr>
                        <th width="18%">Đơn hàng</th>
                        <th>Sản phẩm</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let item of shopService.shop.orders">
                        <td>
                          <p>Mã:
                            <span class="badge badge-info" style="cursor: pointer;"
                                  (click)="gotoOrder(item.id)">{{item.code}}</span>
                          </p>
                          <p>Ngày tạo: {{item.created_at | tempDate}}</p>
                        </td>
                        <td>
                          <p *ngFor="let cart of item.order_items">
                            <a target="_blank" href="{{cart.pro_link}}"><img style="max-width: 50px;"
                                                                             src="{{cart.image}}"></a>
                            <span *ngIf="cart.colortxt">{{cart.colortxt}}</span>
                            <span *ngIf="cart.sizetxt">{{cart.sizetxt}}</span>
                            <span> - Số lượng: {{cart.amount}}</span>
                          </p>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </form>
          </div><!--/.col-->
        </div>
      </div>
    </div>
  </div><!--/.row-->
</div>
