<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card entry-list">
        <div class="card-header">
          <div class="row justify-content-between align-items-center">
            <div class="col-12 col-md-2">
              <div class="title-list">
                <span>Yêu cầu rút tiền</span>
              </div>
            </div>
            <div class="col-12 col-md-3">
              <form novalidate (ngSubmit)="getWithdrawalRequest()" #form="ngForm">
                <div class="form-group mb-0">
                  <div class="input-group entry-search">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="iconsax isax-search-normal-1"></i>
                      </div>
                    </div>
                    <input [(ngModel)]="userService.withdrawalRequestSearch.key" type="text" id="key" name="key"
                           class="form-control"
                           placeholder="Nhập từ tìm kiếm ">
                    <div class="input-group-append">
                      <button type="button" (click)="getWithdrawalRequest()"
                              class="btn">
                        <span>
                          <img src="assets/img/iconsax/vuesax-bold-bootsrap.svg" alt="search">
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-12 col-md-7">
              <tabset>
                <tab>
                  <ng-template tabHeading>
                    <div class="tab-title" (click)="selectTab()">
                      Tất cả
                    </div>
                  </ng-template>
                </tab>
                <tab *ngFor="let item of status">
                  <ng-template tabHeading>
                    <div (click)="selectTab(item.id.toString())">
                      {{item.name}}
                      <!-- <span class="badge badge-pill badge-danger">{{ item.id | tempCountByStatus : counts}}</span> -->
                    </div>
                  </ng-template>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
        
        <div class="card-body">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Yêu cầu</th>
              <th>Khách hàng</th>
              <th>Tài khoản ngân hàng</th>
              <th>Trạng thái</th>
              <th width="10%">Tác vụ</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of withdrawalRequests">
              <td>
                <p>Mã: {{item.id}}</p>
                <p>Số tiền: {{item.value.toString() |
                  tempPrice : 1 : 1: true}} <sup>đ</sup></p>
                <p *ngIf="item.content">Nội dung: {{item.content}}</p>
                <p *ngIf="item.created_at">Ngày tạo: {{item.created_at}}</p>
              </td>
              <td>
                <p>{{item.user.name}}</p>
                <p *ngIf="item.user.phone_number">{{item.user.phone_number}}</p>
              </td>
              <td>
                <p>Người thụ hưởng: {{item.user.bank_username}}</p>
                <p>Số tài khoản: {{item.user.bank_number}}</p>
                <p>Ngân hàng: {{item.user.bank_name}}</p>
                <p>Chi nhánh: {{item.user.bank_branch}}</p>
              </td>
              <td>
                <p>
                  <span *ngIf="item.status === 1" class="badge badge-warning">Chờ duyệt</span>
                  <span *ngIf="item.status === 2" class="badge badge-info">Đã duyệt</span>
                  <span *ngIf="item.status === 3" class="badge badge-danger">Từ chối</span>
                </p>
                <p *ngIf="item.feedback">{{item.feedback}}</p>
              </td>
              <td>
                <button *ngIf="item.status==1" (click)="openModalApprove(approvetemplate, item)"
                        class="btn btn-sm btn-primary btn-action"
                        type="button">
                  Xác nhận
                </button>
                <button *ngIf="item.status==1" (click)="openModalReject(rejecttemplate, item)"
                        class="btn btn-sm btn-warning btn-action"
                        type="button">
                  Từ chối
                </button>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
        <div class="card-footer">
          <pagination [boundaryLinks]="true" [totalItems]="totalItems"
                      [itemsPerPage]="userService.withdrawalRequestSearch.limit"
                      [(ngModel)]="userService.withdrawalRequestSearch.page"
                      (pageChanged)="pageChanged($event)"
                      class="pagination-sm pull-right" [maxSize]="6"
                      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                      lastText="&raquo;"></pagination>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div><!-- /.container-fluid -->

<ng-template #rejecttemplate>
  <div class="modal-header">
    <h5 class="modal-title">Từ chối yêu cầu rút tiền</h5>
  </div>
  <div class="modal-body">
    <form novalidate #form="ngForm">
      <div class="form-group">
        <label for="feedback">Lý do <code class="highlighter-rouge">*</code></label>
        <textarea [(ngModel)]="withdrawalRequest.feedback" id="feedback" name="feedback" rows="3"
                  #feedback="ngModel"
                  required
                  class="form-control"
                  placeholder="Lý do từ chối ..."></textarea>
        <div [hidden]="feedback.valid || feedback.untouched">
                                <span *ngIf="feedback.errors && feedback.errors.required"
                                      class="badge badge-warning">
                                    Phải nhập lý do từ chối!
                                </span>
        </div>
      </div>
      <p></p>
      <alert type="danger" *ngIf="errorMessage.length > 0">
        <p *ngFor="let error of errorMessage"><strong>Lỗi!</strong> {{error}}</p>
      </alert>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" (click)="reject()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()">No</button>
  </div>
</ng-template>

<ng-template #approvetemplate>
  <div class="modal-header">
    <h5 class="modal-title">Duyệt rút tiền</h5>
  </div>
  <div class="modal-body">
    <form novalidate #form="ngForm">
      <div class="form-group">
        <label for="bank_account">Tài khoản ngân hàng <code class="highlighter-rouge">*</code></label>
        <select [(ngModel)]="withdrawalRequest.bank_account" #bank_account="ngModel"
                id="bank_account"
                required
                name="bank_account"
                class="form-control">
          <option value="null">Chọn tài khoản ngân hàng</option>
          <option *ngFor="let account of accounts" value="{{account.id}}">{{account.name}}</option>
        </select>
        <div [hidden]="bank_account.valid || bank_account.untouched">
                                <span *ngIf="bank_account.errors && bank_account.errors.required"
                                      class="badge badge-warning">
                                    Phải chọn tài khoản giao dịch!
                                </span>
        </div>
      </div>
      <div class="form-group">
        <label for="feedback1">Nội dung trả lời</label>
        <textarea [(ngModel)]="withdrawalRequest.feedback" class="form-control" id="feedback1" name="feedback1"
                  placeholder="..." rows="3"></textarea>
      </div>
      <p style="color: red;">Xác nhận sẽ tạo giao dịch rút tiền, Bạn có chắc chắn xác nhận yêu cầu này!?</p>
    </form>
  </div>
  <div class="modal-footer">
    <div class="btn-group btn-group-toggle">
      <button type="button" class="btn btn-primary" (click)="confirmApprove()">Yes</button>
      <button type="button" class="btn btn-warning" (click)="decline()">No</button>
    </div>
  </div>
</ng-template>
