<div class="card">
  <div class="card-header"><i class="fa fa-cogs"></i> <strong>Phí dịch vụ</strong></div>
  <div class="card-body">
    <table class="table table-bordered table-striped table-sm">
      <thead>
      <tr>
        <th>Dịch vụ</th>
        <th>Mức tiền hàng (Triệu VNĐ)</th>
        <th>Tính phí (%)</th>
        <th class="text-right" style="width: 90px;">Tác vụ</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of serviceFees">
        <td>{{item.title}}</td>
        <td>{{item.min_tot_tran}} - {{item.max_tot_tran}}</td>
        <td>{{item.val}}</td>
        <td class="text-right">
          <button (click)="editSetting(item.id)" class="btn btn-sm btn-ghost-primary"
                  type="button">
            Sửa
          </button>
          <button (click)="editSetting(item.id)" class="btn btn-sm btn-ghost-danger"
                  type="button">
            Xóa
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-header"><i class="fa fa-cogs"></i> <strong>Phí vận chuyển</strong></div>
  <div class="card-body">
    <div class="form-group row">
      <div class="col-md-2">
        <select [(ngModel)]="settingService.transportFeeSearchParam.warehouse_id" class="form-control" name="warehouse_id"
                id="warehouse_id" (change)="getTransportFeesData()">
          <option *ngFor="let warehouse of warehouses" [value]="warehouse.id">
            {{warehouse.title}}
          </option>
        </select>
      </div>
      <div class="col-md-2">
        <select [(ngModel)]="settingService.transportFeeSearchParam.type" class="form-control" name="type"
                id="type" (change)="getTransportFeesData()">
          <option value="1">Trọng lượng</option>
          <option value="2">Thể tích</option>
        </select>
      </div>
    </div>
    <table class="table table-bordered table-striped table-sm">
      <thead>
      <tr>
        <th>Dịch vụ</th>
        <th>Mức cân nặng (Kg)</th>
        <th>Phí (VNĐ)</th>
        <th class="text-right" style="width: 90px;">Tác vụ</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of transportFees">
        <td>{{item.title}}</td>
        <td>{{item.min_r}} - {{item.max_r}}</td>
        <td>{{item.val}}</td>
        <td class="text-right">
          <button (click)="editSetting(item.id)" class="btn btn-sm btn-ghost-primary"
                  type="button">
            Sửa
          </button>
          <button (click)="editSetting(item.id)" class="btn btn-sm btn-ghost-danger"
                  type="button">
            Xóa
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-header"><i class="fa fa-cogs"></i> <strong>Phí kiểm đếm</strong></div>
  <div class="card-body">
    <table class="table table-bordered table-striped table-sm">
      <thead>
      <tr>
        <th>Dịch vụ</th>
        <th>Số lượng SP</th>
        <th>Phí (VNĐ)</th>
        <th class="text-right" style="width: 90px;">Tác vụ</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of inspectionFees">
        <td>{{item.title}}</td>
        <td>{{item.min_count}} - {{item.max_count}}</td>
        <td>{{item.val}}</td>
        <td class="text-right">
          <button (click)="editSetting(item.id)" class="btn btn-sm btn-ghost-primary"
                  type="button">
            Sửa
          </button>
          <button (click)="editSetting(item.id)" class="btn btn-sm btn-ghost-danger"
                  type="button">
            Xóa
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-header"><i class="fa fa-cogs"></i> <strong>VIP</strong></div>
  <div class="card-body">
    <table class="table table-bordered table-striped table-sm">
      <thead>
      <tr>
        <th>VIP</th>
        <th>Tổng giao dịch (Triệu VNĐ)</th>
        <th>CK phí dịch vụ (%)</th>
        <th>CK phí vận chuyển (%)</th>
        <th>Đặt cọc tiền hàng (%)</th>
        <th class="text-right" style="width: 90px;">Tác vụ</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of vips">
        <td>{{item.title}}</td>
        <td>{{item.min_tot_tran}}</td>
        <td>{{item.ck_dv}}</td>
        <td>{{item.ck_vc}}</td>
        <td>{{item.deposit}}</td>
        <td class="text-right">
          <button (click)="editSetting(item.id)" class="btn btn-sm btn-ghost-primary"
                  type="button">
            Sửa
          </button>
          <button (click)="editSetting(item.id)" class="btn btn-sm btn-ghost-danger"
                  type="button">
            Xóa
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-header"><i class="fa fa-cogs"></i> <strong>Tham số khác</strong></div>
  <div class="card-body">
    <table class="table table-bordered table-striped table-sm">
      <thead>
      <tr>
        <th>Tham số</th>
        <th>Giá trị</th>
        <th class="text-right" style="width: 70px;">Tác vụ</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of settings">
        <td>{{item.title}}</td>
        <td>{{item.value}}</td>
        <td class="text-right">
          <button (click)="editSetting(item.id)" class="btn btn-sm btn-ghost-primary"
                  type="button">
            Sửa
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
