<div class="card">
  <div class="card-header"><i class="fa fa-cogs"></i> <strong>Phí dịch vụ</strong></div>
  <div class="card-body">
    <table class="table table-bordered table-striped table-sm">
      <thead>
      <tr>
        <th>Tổng giao dịch</th>
        <th>Phí dịch vụ</th>
        <th class="text-right">Tác vụ</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of settings">
        <td>{{item.title}}</td>
        <td>{{item.value}}</td>
        <td class="text-right">
          <button (click)="editSetting(item.id)" class="btn btn-sm btn-ghost-primary"
                  type="button">
            Sửa
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-header"><i class="fa fa-cogs"></i> <strong>VIP</strong></div>
  <div class="card-body">
    <table class="table table-bordered table-striped table-sm">
      <thead>
      <tr>
        <th>VIP</th>
        <th>Tổng giao dịch (Triệu VNĐ)</th>
        <th>CK phí dịch vụ (%)</th>
        <th>CK phí vận chuyển (%)</th>
        <th>Đặt cọc mua hàng (%)</th>
        <th class="text-right">Tác vụ</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of vips">
        <td>{{item.title}}</td>
        <td>{{item.min_tot_tran}}</td>
        <td>{{item.ck_dv}}</td>
        <td>{{item.ck_vc}}</td>
        <td>{{item.deposit}}</td>
        <td class="text-right">
          <button (click)="editSetting(item.id)" class="btn btn-sm btn-ghost-primary"
                  type="button">
            Sửa
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-header"><i class="fa fa-cogs"></i> <strong>Tham số khác</strong></div>
  <div class="card-body">
    <table class="table table-bordered table-striped table-sm">
      <thead>
      <tr>
        <th>Tham số</th>
        <th>Giá trị</th>
        <th class="text-right">Tác vụ</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of settings">
        <td>{{item.title}}</td>
        <td>{{item.value}}</td>
        <td class="text-right">
          <button (click)="editSetting(item.id)" class="btn btn-sm btn-ghost-primary"
                  type="button">
            Sửa
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
