<!--
// Service Fee
 -->
<div class="card">
  <div class="card-header"><i class="fa fa-cogs"></i> <strong>Phí dịch vụ</strong>
    <div class="card-header-actions">
      <button (click)="serviceFeeModalOpen(serviceFeeModal)" class="btn btn-block btn-primary btn-sm"
              type="button"><i class="fa fa-plus"></i> &nbsp;Thêm
      </button>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped table-sm">
      <thead>
      <tr>
        <th>Dịch vụ</th>
        <th>Mức tiền hàng (Triệu VNĐ)</th>
        <th>Tính phí (%)</th>
        <th>Ghi chú</th>
        <th class="text-right" style="width: 90px;">Tác vụ</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of serviceFees">
        <td>{{item.title}}</td>
        <td>{{item.min_tot_tran}} - {{item.max_tot_tran}}</td>
        <td>{{item.val}}</td>
        <td>{{item.note}}</td>
        <td class="text-right">
          <button (click)="serviceFeeModalOpen(serviceFeeModal, item)" class="btn btn-sm btn-ghost-primary"
                  type="button">
            Sửa
          </button>
          <button (click)="serviceFeeDelModalOpen(serviceFeeDelModal, item)" class="btn btn-sm btn-ghost-danger"
                  type="button">
            Xóa
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #serviceFeeModal>
  <form novalidate #serviceFeeForm="ngForm">
    <div class="modal-header">
      <h5 class="modal-title">Chi tiết Phí dịch vụ</h5>
    </div>
    <div class="modal-body" *ngIf="serviceFee">
      <div class="form-group">
        <label for="serviceFeeTitle">Dịch vụ <code class="highlighter-rouge">*</code></label>
        <input [(ngModel)]="serviceFee.title" #serviceFeeTitle="ngModel" type="text" id="serviceFeeTitle"
               name="serviceFeeTitle"
               class="form-control"
               required
               placeholder="Dịch vụ">
        <div [hidden]="serviceFeeTitle.valid || serviceFeeTitle.untouched">
          <span *ngIf="serviceFeeTitle.errors && serviceFeeTitle.errors.required"
                class="badge badge-warning">
              Phải nhập DỊCH VỤ!
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="serviceFeeMinTotTran">Tiền hàng từ (Triệu VNĐ) <code class="highlighter-rouge">*</code></label>
        <input [(ngModel)]="serviceFee.min_tot_tran" #serviceFeeMinTotTran="ngModel" type="number" min="0"
               id="serviceFeeMinTotTran" name="serviceFeeMinTotTran"
               class="form-control"
               required
               placeholder="Tiền hàng từ">
        <div [hidden]="serviceFeeMinTotTran.valid || serviceFeeMinTotTran.untouched">
          <span *ngIf="serviceFeeMinTotTran.errors && serviceFeeMinTotTran.errors.required"
                class="badge badge-warning">
              Phải nhập TIỀN HÀNG TỪ!
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="serviceFeeMaxTotTran">Tiền hàng đến (Triệu VNĐ)</label>
        <input [(ngModel)]="serviceFee.max_tot_tran" type="number" min="0"
               id="serviceFeeMaxTotTran" name="serviceFeeMaxTotTran"
               class="form-control"
               placeholder="Tiền hàng đến">
      </div>

      <div class="form-group">
        <label for="serviceVal">Tính phí (%) <code class="highlighter-rouge">*</code></label>
        <input [(ngModel)]="serviceFee.val" #serviceVal="ngModel" type="number" min="0" max="100"
               id="serviceVal" name="serviceVal"
               class="form-control"
               required
               placeholder="Tính phí">
        <div [hidden]="serviceVal.valid || serviceVal.untouched">
          <span *ngIf="serviceVal.errors && serviceVal.errors.required"
                class="badge badge-warning">
              Phải nhập TÍNH PHÍ!
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="serviceNote">Ghi chú </label>
        <textarea [(ngModel)]="serviceFee.note" id="serviceNote" name="serviceNote" rows="3"
                  class="form-control"
                  placeholder="Ghi chú ..."></textarea>
      </div>

      <p></p>
      <alert type="danger" *ngIf="serviceFeeErrorMessage.length > 0">
        <p *ngFor="let error of serviceFeeErrorMessage"><strong>Lỗi!</strong> {{error}}</p>
      </alert>
    </div>
    <div class="modal-footer">
      <button type="button" [disabled]="!serviceFeeForm.form.valid || (serviceFeeSub && !serviceFeeSub.closed)"
              class="btn btn-primary" (click)="serviceFeeConfirm()">Cập nhật
      </button>
      <button type="button" class="btn btn-warning" (click)="declineModal()">Quay lại</button>
    </div>
  </form>
</ng-template>

<ng-template #serviceFeeDelModal>
  <div class="modal-header">
    <h5 class="modal-title">Xóa Phí dịch vụ</h5>
  </div>
  <div class="modal-body" *ngIf="serviceFee">
    <alert type="danger">
      <p><strong>!</strong> Bạn chắc chắn xóa "{{serviceFee.title}}"!</p>
    </alert>

    <p></p>
    <alert type="danger" *ngIf="serviceFeeErrorMessage.length > 0">
      <p *ngFor="let error of serviceFeeErrorMessage"><strong>Lỗi!</strong> {{error}}</p>
    </alert>
  </div>
  <div class="modal-footer">
    <button type="button" [disabled]="(serviceFeeSub && !serviceFeeSub.closed)"
            class="btn btn-primary" (click)="serviceFeeDelConfirm()">Xóa
    </button>
    <button type="button" class="btn btn-warning" (click)="declineModal()">Quay lại</button>
  </div>
</ng-template>

<!--
// =====================================================================================================================
// Transport Fee
 -->

<div class="card">
  <div class="card-header"><i class="fa fa-cogs"></i> <strong>Phí vận chuyển</strong>
    <div class="card-header-actions">
      <button (click)="addPet()" class="btn btn-block btn-primary btn-sm"
              type="button"><i class="fa fa-plus"></i> &nbsp;Thêm
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="form-group row">
      <div class="col-md-2">
        <select [(ngModel)]="settingService.transportFeeSearchParam.warehouse_id" class="form-control"
                name="warehouse_id"
                id="warehouse_id" (change)="getTransportFeesData()">
          <option *ngFor="let warehouse of warehouses" [value]="warehouse.id">
            {{warehouse.title}}
          </option>
        </select>
      </div>
      <div class="col-md-2">
        <select [(ngModel)]="settingService.transportFeeSearchParam.type" class="form-control" name="type"
                id="type" (change)="getTransportFeesData()">
          <option value="1">Trọng lượng</option>
          <option value="2">Thể tích</option>
        </select>
      </div>
    </div>
    <table class="table table-bordered table-striped table-sm">
      <thead>
      <tr>
        <th>Dịch vụ</th>
        <th>Mức cân nặng (Kg)</th>
        <th>Phí (VNĐ)</th>
        <th>Ghi chú</th>
        <th class="text-right" style="width: 90px;">Tác vụ</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of transportFees">
        <td>{{item.title}}</td>
        <td>{{item.min_r}} - {{item.max_r}}</td>
        <td>{{item.val}}</td>
        <td>{{item.note}}</td>
        <td class="text-right">
          <button (click)="editSetting(item.id)" class="btn btn-sm btn-ghost-primary"
                  type="button">
            Sửa
          </button>
          <button (click)="editSetting(item.id)" class="btn btn-sm btn-ghost-danger"
                  type="button">
            Xóa
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!--
// =====================================================================================================================
// Inspection Fee
 -->

<div class="card">
  <div class="card-header"><i class="fa fa-cogs"></i> <strong>Phí kiểm đếm</strong>
    <div class="card-header-actions">
      <button (click)="inspectionFeeModalOpen(inspectionFeeModal)" class="btn btn-block btn-primary btn-sm"
              type="button"><i class="fa fa-plus"></i> &nbsp;Thêm
      </button>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped table-sm">
      <thead>
      <tr>
        <th>Dịch vụ</th>
        <th>Số lượng SP</th>
        <th>Phí (VNĐ)</th>
        <th>Ghi chú</th>
        <th class="text-right" style="width: 90px;">Tác vụ</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of inspectionFees">
        <td>{{item.title}}</td>
        <td>{{item.min_count}} - {{item.max_count}}</td>
        <td>{{item.val | currency:'VND':'' }} đ</td>
        <td>{{item.note}}</td>
        <td class="text-right">
          <button (click)="inspectionFeeModalOpen(inspectionFeeModal, item)" class="btn btn-sm btn-ghost-primary"
                  type="button">
            Sửa
          </button>
          <button (click)="inspectionFeeDelModalOpen(inspectionFeeDelModal, item)" class="btn btn-sm btn-ghost-danger"
                  type="button">
            Xóa
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #inspectionFeeModal>
  <form novalidate #inspectionFeeForm="ngForm">
    <div class="modal-header">
      <h5 class="modal-title">Chi tiết Phí kiểm đếm</h5>
    </div>
    <div class="modal-body" *ngIf="inspectionFee">
      <div class="form-group">
        <label for="inspectionFeeTitle">Dịch vụ <code class="highlighter-rouge">*</code></label>
        <input [(ngModel)]="inspectionFee.title" #inspectionFeeTitle="ngModel" type="text" id="inspectionFeeTitle"
               name="inspectionFeeTitle"
               class="form-control"
               required
               placeholder="Dịch vụ">
        <div [hidden]="inspectionFeeTitle.valid || inspectionFeeTitle.untouched">
          <span *ngIf="inspectionFeeTitle.errors && inspectionFeeTitle.errors.required"
                class="badge badge-warning">
              Phải nhập DỊCH VỤ!
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="inspectionFeeMinCount">Số lượng từ <code class="highlighter-rouge">*</code></label>
        <input [(ngModel)]="inspectionFee.min_count" #inspectionFeeMinCount="ngModel" type="number" min="0"
               id="inspectionFeeMinCount" name="inspectionFeeMinCount"
               class="form-control"
               required
               placeholder="Số lượng từ">
        <div [hidden]="inspectionFeeMinCount.valid || inspectionFeeMinCount.untouched">
          <span *ngIf="inspectionFeeMinCount.errors && inspectionFeeMinCount.errors.required"
                class="badge badge-warning">
              Phải nhập SỐ LƯỢNG TỪ!
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="inspectionFeeMaxCount">Số lượng đến </label>
        <input [(ngModel)]="inspectionFee.max_count" type="number" min="0"
               id="inspectionFeeMaxCount" name="inspectionFeeMaxCount"
               class="form-control"
               placeholder="Số lượng đến">
      </div>

      <div class="form-group">
        <label for="inspectionFeeVal">Tính phí (VNĐ) <code class="highlighter-rouge">*</code></label>
        <input [(ngModel)]="inspectionFee.val" #inspectionFeeVal="ngModel" type="number" min="0" max="100"
               id="inspectionFeeVal" name="inspectionFeeVal"
               class="form-control"
               required
               placeholder="Tính phí">
        <div [hidden]="inspectionFeeVal.valid || inspectionFeeVal.untouched">
          <span *ngIf="inspectionFeeVal.errors && inspectionFeeVal.errors.required"
                class="badge badge-warning">
              Phải nhập TÍNH PHÍ!
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="inspectionFeeNote">Ghi chú </label>
        <textarea [(ngModel)]="inspectionFee.note" id="inspectionFeeNote" name="inspectionFeeNote" rows="3"
                  class="form-control"
                  placeholder="Ghi chú ..."></textarea>
      </div>

      <p></p>
      <alert type="danger" *ngIf="inspectionFeeErrorMessage.length > 0">
        <p *ngFor="let error of inspectionFeeErrorMessage"><strong>Lỗi!</strong> {{error}}</p>
      </alert>
    </div>
    <div class="modal-footer">
      <button type="button" [disabled]="!inspectionFeeForm.form.valid || (inspectionFeeSub && !inspectionFeeSub.closed)"
              class="btn btn-primary" (click)="inspectionFeeConfirm()">Cập nhật
      </button>
      <button type="button" class="btn btn-warning" (click)="declineModal()">Quay lại</button>
    </div>
  </form>
</ng-template>

<ng-template #inspectionFeeDelModal>
  <div class="modal-header">
    <h5 class="modal-title">Xóa Phí kiểm đếm</h5>
  </div>
  <div class="modal-body" *ngIf="inspectionFee">
    <alert type="danger">
      <p><strong>!</strong> Bạn chắc chắn xóa "{{inspectionFee.title}}"!</p>
    </alert>

    <p></p>
    <alert type="danger" *ngIf="inspectionFeeErrorMessage.length > 0">
      <p *ngFor="let error of inspectionFeeErrorMessage"><strong>Lỗi!</strong> {{error}}</p>
    </alert>
  </div>
  <div class="modal-footer">
    <button type="button" [disabled]="(inspectionFeeSub && !inspectionFeeSub.closed)"
            class="btn btn-primary" (click)="inspectionFeeDelConfirm()">Xóa
    </button>
    <button type="button" class="btn btn-warning" (click)="declineModal()">Quay lại</button>
  </div>
</ng-template>

<!--
// =====================================================================================================================
// VIP Fee
 -->

<div class="card">
  <div class="card-header"><i class="fa fa-cogs"></i> <strong>VIP</strong>
    <div class="card-header-actions">
      <button (click)="addPet()" class="btn btn-block btn-primary btn-sm"
              type="button"><i class="fa fa-plus"></i> &nbsp;Thêm
      </button>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped table-sm">
      <thead>
      <tr>
        <th>VIP</th>
        <th>Tổng giao dịch (Triệu VNĐ)</th>
        <th>CK phí dịch vụ (%)</th>
        <th>CK phí vận chuyển (%)</th>
        <th>Đặt cọc tiền hàng (%)</th>
        <th class="text-right" style="width: 90px;">Tác vụ</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of vips">
        <td>{{item.title}}</td>
        <td>{{item.min_tot_tran}}</td>
        <td>{{item.ck_dv}}</td>
        <td>{{item.ck_vc}}</td>
        <td>{{item.deposit}}</td>
        <td class="text-right">
          <button (click)="editSetting(item.id)" class="btn btn-sm btn-ghost-primary"
                  type="button">
            Sửa
          </button>
          <button (click)="editSetting(item.id)" class="btn btn-sm btn-ghost-danger"
                  type="button">
            Xóa
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-header"><i class="fa fa-cogs"></i> <strong>Tham số khác</strong></div>
  <div class="card-body">
    <table class="table table-bordered table-striped table-sm">
      <thead>
      <tr>
        <th>Tham số</th>
        <th>Giá trị</th>
        <th class="text-right" style="width: 70px;">Tác vụ</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of settings">
        <td>{{item.title}}</td>
        <td>{{item.value}}</td>
        <td class="text-right">
          <button (click)="editSetting(item.id)" class="btn btn-sm btn-ghost-primary"
                  type="button">
            Sửa
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

