<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card entry-list detail">
        <div class="card-header">
          <div class="row justify-content-between align-items-center">
            <div class="col-12 col-md-6">
              <div class="title-list">
                  <span>Phiếu xuất kho</span>
              </div>
            </div>
            <div class="col-12 col-md-6 text-right d-md-down-none">
              <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <a class="btn btn-sm btn-warning btn-rounded fs-14" href="javascript:void(0)" (click)="backlist()">Quay lại</a>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="bill" id="printarea" class="card-body">
          <h3 class="text-center">PHIẾU XUẤT KHO</h3>
          <p class="text-center"><i>(Mã phiếu <b>{{bill.code}}</b>)</i> Hà Nội</p>
          <div class="row">
            <div class="col-sm-5">
              <h4 class="">Thông tin khách</h4>
              <table class="table">
                <tbody>
                <tr>
                  <td>Khách</td>
                  <td>{{bill.user.code}} - {{bill.user.name}}</td>
                </tr>
                <tr>
                  <td>Điện thoại/ Email</td>
                  <td><p>{{bill.user.phone_number}} - {{bill.user.email}}</p></td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-7">
              <h4>Tiền cần thanh toán (đơn vị VNĐ)</h4>
              <table class="table">
                <thead>
                </thead>
                <tbody>
                <tr>
                  <td>a. Tiền (1+2+3+4+5)</td>
                  <td class="text-right">
                    {{(report.tong_tien_can + report.tong_tien_dong_go + report.tong_tien_chong_soc_tt + report.tong_thanh_ly + report.tong_van_phi_ps).toString() | tempPrice: 1 : 1 : true}}
                  </td>
                </tr>
                <tr>
                  <td>b. Số dư hiện tại</td>
                  <td class="text-right">{{bill.user.debt.toString() | tempPrice: 1 : 1 : true}}</td>
                </tr>
                <tr *ngIf="bill && bill.status===1">
                  <td>Số dư sau khi xuất kho (b - a)</td>
                  <td
                    class="text-right">{{(bill.user.debt - (report.tong_tien_can + report.tong_tien_dong_go + report.tong_tien_chong_soc_tt +
                    report.tong_thanh_ly + report.tong_van_phi_ps)).toString() | tempPrice: 1 : 1 : true}}
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 table-responsive">
              <h4 class="">Thông tin phiếu xuất (đơn vị VNĐ)</h4>
              <table class="table table-hover">
                <thead>
                <tr class="">
                  <th rowspan="2" class="text-center">1. Tiền cân</th>
                  <th rowspan="2" class="text-center">2. Tiền đóng gỗ</th>
                  <th rowspan="2" class="text-center">3. Tiền chống sốc</th>
                  <th rowspan="2" class="text-center">4. Cước Vận phát sinh</th>
                  <th rowspan="2" class="text-center">5. Thanh lý</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="text-right  bold">{{report.tong_tien_can.toString() | tempPrice: 1 : 1: true}}
                  </td>
                  <td class="text-right  bold">{{report.tong_tien_dong_go.toString() | tempPrice: 1 : 1: true}}
                  </td>
                  <td class="text-right  bold">
                    (<span>¥</span>{{report.tong_tien_chong_soc.toString() | tempPrice: 1 : 1: true}})
                    {{report.tong_tien_chong_soc_tt.toString() | tempPrice: 1 : 1: true}}
                  </td>
                  <td class="bold text-right">{{report.tong_van_phi_ps.toString() | tempPrice: 1 : 1: true}}</td>
                  <td class="text-right bold "> {{report.tong_thanh_ly.toString() | tempPrice: 1 : 1:true}}
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="table-responsive" style="overflow: hidden;">
            <h4 class="g-no-print">Thông tin kiện hàng <span style="font-size: 10pt;"><i>(Công thức quy đổi: (kg) = Dài (cm) x rộng (cm) x cao (cm)/ 6000)</i></span></h4>
            <table class="table table-hover  lading_table" style="cursor: pointer;overflow: hidden;">
              <thead>
              <tr>
                <th rowspan="2" class="text-center">#</th>
                <th rowspan="2">Mã kiện/Mã đơn</th>
                <th rowspan="2" class="text-center">Thanh lý</th>
                <th rowspan="2" class="text-center">Cân nặng</th>
                <th rowspan="2" class="text-center">Quy đổi</th>
                <th rowspan="2" class="text-center">KT(m3)</th>
                <th rowspan="2" class="text-center">Vận giá</th>
                <th rowspan="2" class="text-center">Cước vận</th>
                <th rowspan="2" class="text-center">Cước vận PS</th>
                <th rowspan="2" class="text-center">Đóng Gỗ</th>
                <th rowspan="2" class="text-center">Chống sốc</th>
              </tr>
              </thead>
              <tbody>
              <ng-template ngFor let-item [ngForOf]="bill.package" let-i="index">
                <tr>
                  <td class="text-center">{{i + 1}}</td>
                  <td>
                      <span>
                          {{item.package_code}} / {{item.order.code}}
                      </span>
                  </td>
                  <td class="text-right">
                    <span *ngIf="item.tien_thanh_ly">{{item.tien_thanh_ly |
                    tempPrice: 1 : 1: false}}</span>
                  </td>
                  <td class="text-right"><span *ngIf="item.cal_option==0">{{item.weight}}</span></td>
                  <td class="text-right"><span *ngIf="item.cal_option==2">{{item.weight_qd}}</span></td>
                  <td class="text-right"><span *ngIf="item.cal_option==1">{{item.size}}</span></td>
                  <td class="text-right"><span *ngIf="item.gia_can">{{item.gia_can |
                    tempPrice: 1 : 1: false}}</span></td>
                  <td class="text-right"><span *ngIf="item.tien_can">{{item.tien_can_tt |
                    tempPrice: 1 : 1: false}}</span>
                  </td>
                  <td class="text-right ">{{item.phi_van_phat_sinh |
                    tempPrice: 1 : 1: false}}</td>
                  <td class="text-right ">{{item.tien_dong_go |
                    tempPrice: 1 : 1: false}}</td>
                  <td class="text-right ">
                    (<span>¥</span>{{item.tien_chong_soc.toString() | tempPrice: 1 : 1: true}})
                    {{item.tien_chong_soc_tt |
                    tempPrice: 1 : 1: false}}
                  </td>
                </tr>
              </ng-template>
              <tr>
                <td colspan="2"></td>
                <td class="text-right ">{{report.tong_thanh_ly.toString() | tempPrice: 1 : 1: false}}</td>
                <td colspan="4"></td>
                <td class="text-right ">{{report.tong_tien_can.toString() | tempPrice: 1 : 1: false}}</td>
                <td class="text-right ">{{report.tong_van_phi_ps.toString() | tempPrice: 1 : 1: false}}</td>
                <td class="text-right ">{{report.tong_tien_dong_go.toString() | tempPrice: 1 : 1: false}}</td>
                <td class="text-right ">{{report.tong_tien_chong_soc_tt.toString() | tempPrice: 1 : 1: false}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div id="detail-link" class="table-responsive">
            <h4>Chi tiết link</h4>
            <table class="table table-hover">
              <thead>
              <tr>
                <th rowspan="2">Mã đơn</th>
                <th rowspan="2">Mã link</th>
                <th rowspan="2">Màu sắc, Kích thước</th>
                <th rowspan="2">Ghi chú</th>
                <th rowspan="2">Giá</th>
                <th rowspan="2">SL đặt</th>
                <th rowspan="2">Còn lại</th>
                <th rowspan="2">Xuất kho</th>
                <th rowspan="2">Ghi chú kho</th>
              </tr>
              </thead>
              <tbody>
              <ng-template ngFor let-item [ngForOf]="order_items" let-i="index">
                <tr>
                  <td><a href="./order/list/detail/{{item.order_id}}"
                         target="_blank">{{item.order_id}}</a></td>
                  <td>
                    <a href="{{item.pro_link}}"
                       target="_blank"> {{item.id}}</a></td>
                  <td>
                    <p>{{item.colortxt}}</p>
                    <p>{{item.sizetxt}}</p>
                  </td>
                  <td>{{item.note}}</td>
                  <td class="text-right">{{item.price | tempPrice: 1 : 1 : false}}</td>
                  <td class="text-right">{{item.amount}}</td>
                  <td class="text-right">0</td>
                  <td class="text-right">{{item.amount}}</td>
                  <td>
                    <span class="text-right view-field lack_note"></span>
                  </td>
                </tr>
              </ng-template>
              </tbody>
            </table>
          </div>

          <table class="table">
            <thead>
            <tr>
              <th class="text-center">Khách hàng</th>
              <th class="text-center">
                <p class="text-center"><b>{{date}}</b></p>
                Nhân viên xuất kho
              </th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td style="height: 50px;" colspan="4" tabindex="1"></td>
            </tr>
            <tr>
              <td class="text-center">
                {{bill.user.name}}
              </td>
              <td class="text-center">{{bill.employee.name}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div><!--/.row-->
</div>
<div class="toolbar">
  <button onclick="window.print();" class="btn btn-sm btn-primary"
          type="button">
    In
  </button>
  <button *ngIf="bill && bill.status===1" class="btn btn-sm btn-primary" (click)="xuatKho(bill, template)"
          type="button">
    Xuất kho
  </button>
</div>

<ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title">Thông báo từ hệ thống!</h5>
  </div>
  <div class="modal-body">
    <alert type="danger" *ngIf="errorMessage.length > 0">
      <p *ngFor="let error of errorMessage"><strong>Lỗi!</strong> {{error}}</p>
    </alert>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="decline()">OK</button>
  </div>
</ng-template>
