// Here you can add other styles
.form-control{height: auto;}
.transform-90{
  -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -o-transform: rotate(45deg); 
   transform: rotate(45deg);
}
.fs-14{
  font-size: 14px !important;
}
.fs-16{
  font-size: 16px !important;
}
.fs-20{
  font-size: 20px !important;
}
.loading-over {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1060;
  text-align: center;
}

.loading-over div {
  display: block;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: auto;
  border-radius: 5px;
  color: #20a8d8;
  font-size: 32px;
}

.app-header .nav-item .nav-link .badge {
  top: 65%;
  left: 70%;
  margin-top: 0;
  margin-left: 0;
  padding: 5px;
}

.app-header .dropdown-item {
  font-size: 12px;
}

@media print {
  body * {
    visibility: hidden;
  }
  .breadcrumb {
    display: none;
  }
  .breadcrumb, .card-header {
    display: none;
  }
  #printarea * {
    visibility: visible;
  }
}

@media (max-width: 767px) {
  .main .container-fluid {
    padding: 0 15px;
  }

  .nav-link {
    padding: 0.5rem 10px !important;
  }
}

.btn-action {
  margin: 3px;
}

.app-header .navbar-brand, .sidebar-fixed .sidebar, .sidebar .sidebar-nav, .sidebar .nav {
  width: 230px;
}

.sidebar {
  color: #505b72;
  background: #ffffff;
}

// .sidebar .nav-link:hover.nav-dropdown-toggle::before {
//   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%2373818f' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
// }

.sidebar .sidebar-minimizer {
  display: none;
}

.app-body .main {
  padding: 15px;
}

@media (min-width: 576px) and (min-width: 992px) {
  html:not([dir=rtl]) .sidebar-lg-show.sidebar-fixed .app-footer, html:not([dir=rtl]) .sidebar-lg-show.sidebar-fixed .main {
    margin-left: 230px;
  }
}

.main .container-fluid {
  padding: 0;
}

.col-lg-8 .table.table-sm thead th:nth-child(2) {
  width: 100px;
}

.card-header {
  background-color: #f6f6f6;
}

/*form.ng-untouched.ng-pristine.ng-valid .col-md-2 {
  flex: 0 0 25%;
  max-width: 25%;
}*/

button.btn ~ button.btn{
  margin-right: 0 !important;
}


.pagination {
  margin-bottom: 0;
}

.page-item .page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #20a8d8;
  background-color: #fff;
  border: 1px solid #c8ced3;
}

.card-footer {
  border: none;
}

.tab-container .tab-content {
  height: auto;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background-color: #ebebeb;
  color: $color-text;
}

form.ng-untouched.ng-pristine.ng-valid .col-md-2 {
  flex: 0 0 16.66666667%;
  max-width: 16.66666667%;
}

pagination.pagination-sm.pull-right.ng-untouched {
  margin-bottom: 15px;
}
.page-item .page-link {
  font-size: 12px;
  height: 30px;
  width: 30px;
  line-height: 20px;
}

.card, .btn {
  border-radius: 0
}

html:not([dir=rtl]) .sidebar {
  margin-left: -220px;
}

.table p:last-child {
  border-bottom: none;
}

body.app:not(.header-fixed) {
  background-image: url(https://247logistics.com.vn/wp-content/uploads/2018/12/abr-logistics-main-slider.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.modal-dialog.modal-sm {
  margin: calc(50vh - 50px) auto;
}
.card-header-actions{
  margin-right: 0;
}
.nav-tabs .nav-item{
  margin: 0;
}
//genera
.check-label {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    text-align: left;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.check-label > input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.check-label > input:checked ~ span {
    border: 1px solid #c8cfdd;
}
.check-label:hover > input:not([disabled]):checked ~ span,
.check-label > input:checked ~ span {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.check-label > input:checked ~ span {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: none;
    background: var(--blue);
}
.check-label > span {
    border: 1px solid #d1d7e2;
}
.check-label > span {
    border-radius: 3px;
    background: none;
    position: absolute;
    top: 1px;
    left: 0;
    height: 18px;
    width: 18px;
}
.check-label > input:checked ~ span:after {
    display: block;
}
.check-label > span:after {
    border: solid #fff;
}
.check-label > span:after {
    content: '';
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    margin-left: -2px;
    margin-top: -6px;
    width: 5px;
    height: 10px;
    border-width: 0 2px 2px 0/*rtl:ignore*/ !important;
    -webkit-transform: rotate(45deg)/*rtl:ignore*/;
    transform: rotate(45deg)/*rtl:ignore*/;
}
.btn-info:hover,
.btn-info:focus{
  background-color: #77a0f9;
  border-color: #77a0f9;
  color: #fff;
}
.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle{
  background-color: #77a0f9;
  border-color: #77a0f9;
  color: #fff;
}

.btn i {
  vertical-align: middle;
}
.text-danger {
  color: $orange !important;
}
.bg-orange{
  background-color: $orange !important;
}
.bg-blue{
  background-color: $blue !important;
}
.bg-blue-violet{
  background-color: $blue-violet !important;
}
.bg-violet{
  background-color: $violet !important;
}
.bg-yellow{
  background-color: $yellow !important;
}

.bg-orange-transparent{
  background-color: $orange-transparent !important;
}
.bg-violet-transparent{
  background-color: $violet-transparent !important;
}
.bg-blue-transparent{
  background-color: $blue-transparent !important;
}
.bg-light-blue-transparent{
  background-color: $light-blue-transparent !important;
}
.bg-gray {
  background-color: $gray !important;
}
.icon-topbar {
  padding: 0 11px !important;
  height: 46px;
  line-height: 46px;
  @include border-radius(10px);
}
.navbar-brand-full{padding-left: 15px;height: 32px !important;}
.header-fixed {
  .app-body{
    margin-top: 76px;
  }
}
.app-header {
  height: auto;
  padding: 10px 0;
  background-color: var(--blue);
  .navbar-nav {
    padding-right: 15px;
  }
  .nav-item {
    min-width: auto;
  }
  .navbar-brand{
    justify-content: flex-start;
  }
}

.sidebar {
  background-color: var(--blue);
  .nav {
    margin-top: 15px;
  }
  .nav-dropdown-toggle::before{
    font-family: 'iconsax';
    content: "\e940";
    top: calc(50% - 12px);
    background-image: none;
    margin-top: 0;
    height: auto;
    width: auto;
  }
  .nav-dropdown.open > .nav-dropdown-toggle::before {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  .nav-item {
    margin-top: 2px;
    margin-bottom: 2px;
    &:first-child {
      margin-top: 0;
    }
    i.iconsax{
      font-size: 24px;
      vertical-align: sub;
      color: #fff
    }
  }
  .nav-link{
    font-size: 16px;
    font-weight:500;
    color: #fff !important;
    padding: 5px 15px;
    @include border-radius(10px);
    .nav-icon{
      width: auto;
    }
    &.active,
    &:hover {
      background-color: #fff;
      color: #5586ef !important;
      .nav-icon {
        color: #5586ef;
      }
    }
  }
  .nav-dropdown{
    & > .nav-dropdown-items{
      margin-left: 25px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: calc(100% - 26px);
        background-color: $color-border;
        z-index: 9;
      }
      > .nav-item {
        > .nav-link {
          position:relative;
          margin: 3px 15px;
          padding: 11px 15px;
          &::before{
            content: '';
            position: absolute;
            top: calc(50% - 12px);
            border-bottom: 1px solid $color-border;
            width: 10px;
            height: 13px;
            left: -15px;
            border-radius: 0 50%;
          }
        }
      }
    }
    &.open {
      background-color: transparent;
      .nav-link {
        color: #6D6D6D;
      }
    }
  }
}
.btn-rounded {
  border-radius: 10px;
}
.entry-detail{
  .nav-tabs {
    margin: 0 0 30px 0;
    justify-content: flex-end;
    border:0;
    .nav-link {
      border: 0;
      font-size: 16px;
      font-weight: 400;
      padding: 10px 10px;
      @include border-radius(10px);
    }
    .nav-item{
      &.active {
        a {
          background-color: $blue;
          color: $white;
        }
      }
      .nav-link {
        .tab-title {
          padding: 0;
        }
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .tab-content{
    border: 0;
    .tab-pane {
      padding: 0;
    }
  }
}
.badge{
    font-size: 14px;
    font-weight: 400;
    padding: 7px 10px;
    @include border-radius(5px);
    &.badge-danger{
      background-color: #FFE0D5;
      color: #FF7643;
    }
    &.badge-info{
      background-color: #D5E3FF;
      color: #438EFF;
    }
    &.badge-warning{
      background-color: #F6E5C5;
      color: #C88500;
    }
    &.badge-success{
      background-color: #EAFAE5;
      color: #83BF6E;
    }
  }
  .btn-violet {
    color: $white;
    background-color: $violet;
    border-color: $violet;
  }
  .btn-info{
    color: $white;
    background-color: $blue;
    border-color: $blue;
  }
  .btn.btn-sm {
    @include border-radius(5px);
  }
.entry-list{
  border: 0;
  select {
    border-radius:10px;
    font-weight: 500;
  }
  .title-list{
    font-size: 24px;
    font-weight: bold;
    span {
      position: relative;
      padding-left: 35px;
      &::before {
        content: '';
        display: block;
        width: 16px;
        height: 32px;
        background-color: #5585EE;
        @include border-radius(6px);
        position: absolute;
        top: -1px;
        left: 0;
      }
      &.highlight-violet::before{
        background-color: $violet;
      }
      &.highlight-blue::before{
        background-color: $blue;
      }
      &.highlight-orange::before{
        background-color: $orange;
      }
    }
  }
  thead {
    th {
      font-size: 16px;
      border: 0;
    }
  }
  table {
    td {
      border-color: $color-grey;
      a {
        color: $color-text;
      }
    }
  }
  &.detail {
    >.card-header {
      border-bottom: 0;
      background-color: transparent;
      font-size: 24px;
      font-weight: bold;
      .nav-tabs {
        margin: 0;
        justify-content: flex-end;
        .nav-link {
          border: 0;
          font-size: 16px;
          font-weight: 400;
          padding: 10px 10px;
          @include border-radius(10px);
        }
        .nav-item{
          &.active {
            a {
              background-color: $blue;
              color: $white;
              font-weight: bold;
            }
          }
          .nav-link {
            .tab-title {
              padding: 0;
            }
          }
          &:first-child {
            margin-left: 0;
          }
        }
      }
      .tab-content{
        border: 0;
        .tab-pane {
          padding: 0;
        }
      }
    }

  }

  &:not(.detail){
    .card-header {
      border-bottom: 0;
      background-color: transparent;
      font-size: 24px;
      font-weight: bold;
      .nav-tabs {
        margin: 0;
        justify-content: flex-end;
        .nav-link {
          border: 0;
          font-size: 16px;
          font-weight: 400;
          padding: 10px 10px;
          @include border-radius(10px);
        }
        .nav-item{
          &.active {
            a {
              background-color: $blue;
              color: $white;
              font-weight: bold;
            }
          }
          .nav-link {
            .tab-title {
              padding: 0;
            }
          }
          &:first-child {
            margin-left: 0;
          }
        }
      }
      .tab-content{
        border: 0;
        .tab-pane {
          padding: 0;
        }
      }
    }
    .card {
      border: 0;
    }

  }
  .table-hover {
    tbody {
      tr {
        &:hover {
          background-color: $color-grey;
          @include border-radius(10px);
        }
      }
    }
  }

  .card-footer{
    background-color: #fff;
  }
  .page-item {
    .page-link {
      padding: 0;
      height: 24px;
      width: 24px;
      line-height: 24px;
      text-align: center;
      border: 0;
      margin: 0 2px;
      background-color: #EBEBEB;
      font-size: 16px;
      border-radius: 5px !important;
      color: #858585;
    }
    &.active {
      .page-link {
        background-color: #5585EE;
        color: $white;
      }
    }
  }
  .total-internal{
    padding: 5px 15px;
    font-size: 14px;
    font-weight: 400;
    background-color: #C7D8FF;
    @include border-radius(5px);
    span {
      font-size: 24px;
      font-weight: 700;
    }
  }
}
.widget-item{
  border: 0;
  background-color: #f9f9f9;
  border-radius: 10px;
  min-height: 280px;
  height: calc(100% - 64px);
  .card-footer{
    background-color: #f9f9f9;
    border-radius: inherit;
  }
  .comment-content{
    height: calc(100% - 27px) !important;
  }
}
.entry-search{
  .input-group-text,
  .form-control{
    border: 0;
    background-color: $color-grey;
  }
  .btn {
    padding: 0 10px;
    span{
      padding: 2px 7px 5px 6px;
      background-color: $white;
      @include border-radius(5px);
    }
  }
}
.filter-advanced {
  .form-control,
  .input-group-text {
    border: 0;
    background-color: $color-grey;
  }
  .input-group-text {
    padding: 5px 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .form-control {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .btn{
    @include border-radius(10px);
    padding: 0;
    height: 46px;
    width: 46px;
    line-height: 46px;
    text-align: center;
  }
}
.space-7 {
  margin-right: -7px;
  margin-left: -7px;
}
.space-7 > div {
  padding-right: 7px;
  padding-left: 7px;
}
.p-20{
  padding: 20px;
}
.p-15{
  padding: 15px;
}
.mb-30 {
  margin-bottom: 30px;
}
.svg-white {
  filter: brightness(0) invert(1);
}
.widget {
  border: 0;
  border-radius: 15px;
  .inner-icon{
    float: left;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    i {
      font-size: 32px;
    }
  }
  .inner-desc{
    line-height: 55px;
    color: $color-text;
    font-weight: 700;
    font-size: 18px;
    margin-left: 15px;
  }
  .inner-value{
    margin-left: 70px;
    font-size: 46px;
    font-weight: 700;
    color: $color-text;
    line-height: 1;
    margin-top: 10px;
  }
}
:focus {
  -webkit-box-shadow: none !important;
  outline: -webkit-focus-ring-color auto 0px !important;
}
.brand-card{
  border-radius: 15px;
  border:0;
  .text-value{
    margin-right: 5px;
    font-size: 34px;
    line-height: 1;
  }
  .text-desc {
    font-size: 16px;
  }
}
.brand-card-body > *:not(:last-child){
  border-color: $color-text;
}
.app-header .navbar-toggler-icon{
  filter: brightness(0) invert(1);
}
@media(min-width: 992px) {
  .app-header .navbar-toggler-icon{
    display: none;
  }
  .tab-detail{
    .nav-tabs .nav-item {
      margin-left: 15px;
    }
    .entry-detail{
      margin-top: -50px;
    }
  }
}
@media (max-width: 1366px) {
  .widget {
    .inner-icon {
      width: 45px;
      height: 45px;
      line-height: 45px;
    }
    .inner-desc{
      font-size: 14px;
      line-height: 45px;
      margin-left: 5px;
    }
    .inner-value {
      margin-left: 45px;
      font-size: 38px;
    }
  }
  .filter-advanced {
    .input-group-text{
      padding: 0px 10px;
    }
    .btn {
      height: 36px;
      width: 33px;
      line-height: 36px;
    }
  }
  .entry-list {
    .badge{
      font-size: 11px;
    }
    thead {
      th {
        font-size: 12px;
      }
    }
    .card-header {
      .nav-tabs {
        .nav-link {
          font-size: 14px;
          padding: 5px;
        }
      }
    }
    .title-list {
      font-size: 18px;
      span{
        &::before {
          height: 23px;
        }
      }
    }
  }
}
@media (max-width: 991.98px) {
  .app-header .navbar-brand {
      position: initial;
      margin-left: 0;
  }
}