// Here you can add other styles
.sidebar .nav-dropdown.open > .nav-dropdown-items .nav-item a {
  padding-left: 30px;
  font-size: 14px;
}

.loading-over {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1060;
  text-align: center;
}

.loading-over div {
  display: block;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: auto;
  border-radius: 5px;
  color: #20a8d8;
  font-size: 32px;
}

.sidebar .nav-link.active {
  background: #0000004a;
}

.app-header .dropdown-item {
  font-size: 12px;
}

@media print {
  body * {
    visibility: hidden;
  }
  .breadcrumb {
    display: none;
  }
  .breadcrumb, .card-header {
    display: none;
  }
  #printarea * {
    visibility: visible;
  }
}

@media (max-width: 767px) {
  .main .container-fluid {
    padding: 0 15px;
  }

  .nav-link {
    padding: 0.5rem 10px !important;
  }
}

.btn-action {
  margin: 3px;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Comfortaa', cursive;
  background-color: #d8dce3;
}


.app-header .navbar-brand, .sidebar-fixed .sidebar, .sidebar .sidebar-nav, .sidebar .nav {
  width: 230px;
}

.sidebar {
  color: #505b72;
  background: #ffffff;
}

.sidebar .nav-item {
  border-bottom: 1px solid #ddd;
}

.sidebar .nav-link, .sidebar .nav-dropdown.open .nav-link {
  color: #505b72;
  font-size: 15px;
  font-weight: 600;
}

.sidebar .nav-dropdown.open {
  background: #f6f6f6;
}

.sidebar .nav-link.active {
  color: #262b36 !important;
}

.sidebar .nav-link:hover, .sidebar .nav-link:hover .nav-icon, .sidebar .nav-link.active .nav-icon {
  color: #262b36 !important;
  background: #f6f6f6;
}

.sidebar .nav-link:hover.nav-dropdown-toggle::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%2373818f' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
}

.sidebar .nav-link.active {
  color: #505b72;
  background: #f6f6f6;
}

.sidebar .nav-dropdown.open>.nav-dropdown-items .nav-item a {
  padding-left: 15px;
}

.sidebar .sidebar-minimizer {
  display: none;
}

.app-body .main {
  padding: 15px;
}

@media (min-width: 576px) and (min-width: 992px) {
  html:not([dir=rtl]) .sidebar-lg-show.sidebar-fixed .app-footer, html:not([dir=rtl]) .sidebar-lg-show.sidebar-fixed .main {
    margin-left: 230px;
  }
}

.main .container-fluid {
  padding: 0;
}

ul.nav-tabs li.nav-item .nav-link {
  border-radius: 0;
}

thead th {
  background: #a41c21;
  color: #fff;
  border: 1px solid #ffffff;
}

.col-lg-8 .table.table-sm thead th:nth-child(2) {
  width: 100px;
}

.card-header {
  background-color: #f6f6f6;
}

/*form.ng-untouched.ng-pristine.ng-valid .col-md-2 {
  flex: 0 0 25%;
  max-width: 25%;
}*/

button.btn ~ button.btn{
  margin-right: 0 !important;
}


.pagination {
  margin-bottom: 0;
}

.page-item .page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #20a8d8;
  background-color: #fff;
  border: 1px solid #c8ced3;
}

.card-footer {
  border: none;
}

.tab-container .tab-content {
  height: auto;
}
