// Here you can add other styles

.loading-over {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1060;
  text-align: center;
}

.loading-over div {
  display: block;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: auto;
  border-radius: 5px;
  color: #20a8d8;
  font-size: 32px;
}

.app-header .dropdown-item {
  font-size: 12px;
}

@media print {
  body * {
    visibility: hidden;
  }
  .breadcrumb {
    display: none;
  }
  .breadcrumb, .card-header {
    display: none;
  }
  #printarea * {
    visibility: visible;
  }
}

@media (max-width: 767px) {
  .main .container-fluid {
    padding: 0 15px;
  }

  .nav-link {
    padding: 0.5rem 10px !important;
  }
}

.btn-action {
  margin: 3px;
}

.app-header .navbar-brand, .sidebar-fixed .sidebar, .sidebar .sidebar-nav, .sidebar .nav {
  width: 230px;
}

.sidebar {
  color: #505b72;
  background: #ffffff;
}

.sidebar .nav-link:hover.nav-dropdown-toggle::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%2373818f' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
}

.sidebar .sidebar-minimizer {
  display: none;
}

.app-body .main {
  padding: 15px;
}

@media (min-width: 576px) and (min-width: 992px) {
  html:not([dir=rtl]) .sidebar-lg-show.sidebar-fixed .app-footer, html:not([dir=rtl]) .sidebar-lg-show.sidebar-fixed .main {
    margin-left: 230px;
  }
}

.main .container-fluid {
  padding: 0;
}

.col-lg-8 .table.table-sm thead th:nth-child(2) {
  width: 100px;
}

.card-header {
  background-color: #f6f6f6;
}

/*form.ng-untouched.ng-pristine.ng-valid .col-md-2 {
  flex: 0 0 25%;
  max-width: 25%;
}*/

button.btn ~ button.btn{
  margin-right: 0 !important;
}


.pagination {
  margin-bottom: 0;
}

.page-item .page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #20a8d8;
  background-color: #fff;
  border: 1px solid #c8ced3;
}

.card-footer {
  border: none;
}

.tab-container .tab-content {
  height: auto;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background-color: #ebebeb;
  color: $color-text;
}

form.ng-untouched.ng-pristine.ng-valid .col-md-2 {
  flex: 0 0 16.66666667%;
  max-width: 16.66666667%;
}

pagination.pagination-sm.pull-right.ng-untouched {
  margin-bottom: 15px;
}
.page-item .page-link {
  font-size: 12px;
  height: 30px;
  width: 30px;
  line-height: 20px;
}

.card, .form-control, .btn {
  border-radius: 0
}


.table-bordered, .table-bordered td, .table-bordered th {
  border-top: 0;
}

html:not([dir=rtl]) .sidebar {
  margin-left: -220px;
}

.table p:last-child {
  border-bottom: none;
}

body.app:not(.header-fixed) {
  background-image: url(https://247logistics.com.vn/wp-content/uploads/2018/12/abr-logistics-main-slider.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.modal-dialog.modal-sm {
  margin: calc(50vh - 50px) auto;
}
//genera
.bg-orange{
  background-color: $orange !important;
}
.bg-blue{
  background-color: $blue !important;
}
.bg-blue-violet{
  background-color: $blue-violet !important;
}
.icon-topbar {
  padding: 0 11px !important;
  height: 46px;
  line-height: 46px;
  @include border-radius(10px);
}
.navbar-brand-full{padding-left: 15px;}
.app-header {
  .nav-item {
    min-width: auto;
  }
  .navbar-brand{
    justify-content: flex-start;
  }
}

.sidebar {
  .nav-item {
    i.iconsax{
      font-size: 24px;
      vertical-align: sub;
      color: #6D6D6D
    }
  }
  .nav-link{
    font-size: 16px;
    font-weight:500;
    color: #6D6D6D;
    .nav-icon{
      width: auto;
    }
    &.active {
      font-weight: 700;
      background-color: #F1F1F1;
      color: #101C36;
      .nav-icon {
        color: #101C36;
      }
    }
    &:hover{
      background-color: #F1F1F1;
      color: #101C36;
      i.iconsax {
        color: #101C36;
      }
    }
  }
  .nav-dropdown{
    & > .nav-dropdown-items{
      margin-left: 25px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: calc(100% - 26px);
        background-color: $color-border;
        z-index: 9;
      }
      > .nav-item {
        > .nav-link {
          position:relative;
          margin: 0 15px;
          @include border-radius(10px);
          &::before{
            content: '';
            position: absolute;
            top: calc(50% - 12px);
            border-bottom: 1px solid $color-border;
            width: 10px;
            height: 13px;
            left: -15px;
            border-radius: 0 50%;
          }
        }
      }
    }
    &.open {
      background-color: transparent;
      .nav-link {
        color: #6D6D6D;
      }
    }
  }
}
.entry-list{
  border: 0;
  .card-header {
    border-bottom: 0;
    background-color: transparent;
    font-size: 24px;
    font-weight: bold;
    .nav-tabs {
      margin: 0;
      justify-content: flex-end;
      .nav-link {
        border: 0;
        font-size: 16px;
        font-weight: 400;
        padding: 10px 10px;
        @include border-radius(10px);
      }
      .nav-item{
        &.active {
          a {
            background-color: $blue;
            color: $white;
            font-weight: bold;
          }
        }
        .nav-link {
          .tab-title {
            padding: 0;
          }
        }
        &:first-child {
          margin-left: 0;
        }
      }
    }
    .tab-content{
      border: 0;
    }
    .title-list{
      span {
        position: relative;
        padding-left: 35px;
        &::before {
          content: '';
          display: block;
          width: 16px;
          height: 32px;
          background-color: #5585EE;
          @include border-radius(6px);
          position: absolute;
          top: -1px;
          left: 0;
        }
      }
    }
  }
  thead {
    th {
      font-size: 16px;
      text-transform: uppercase;
      border: 0;
    }
  }
  table {
    td {
      border-color: $color-grey;
      a {
        color: $color-text;
      }
    }
  }
  .table-hover { 
    tbody {
      tr {
        &:hover {
          background-color: $color-grey;
          @include border-radius(10px);
        }
      }
    }
  }
  .badge{
    font-size: 14px;
    font-weight: 400;
    padding: 7px 10px;
    @include border-radius(5px);
    &.badge-danger{
      background-color: #FFE0D5;
      color: #FF7643;
    }
    &.badge-info{
      background-color: #D5E3FF;
      color: #438EFF;
    }
    &.badge-warning{
      background-color: #F6E5C5;
      color: #C88500;
    }
    &.badge-success{
      background-color: #EAFAE5;
      color: #83BF6E;
    }
  }
  .btn-violet {
    color: $white;
    background-color: $violet;
    border-color: $violet;
  }
  .btn-info{
    color: $white;
    background-color: $blue;
    border-color: $blue;
  }
  .btn.btn-sm {
    @include border-radius(5px);
  }
  .card-footer{
    background-color: #fff;
  }
  .page-item {
    .page-link {
      padding: 0;
      height: 24px;
      width: 24px;
      line-height: 24px;
      text-align: center;
      border: 0;
      margin: 0 2px;
      background-color: #EBEBEB;
      font-size: 16px;
      border-radius: 5px !important;
      color: #858585;
    }
    &.active {
      .page-link {
        background-color: #5585EE;
        color: $white;
      }
    }
  }
  .total-internal{
    padding: 5px 15px;
    font-size: 14px;
    font-weight: 400;
    background-color: #C7D8FF;
    @include border-radius(5px);
    span {
      font-size: 24px;
      font-weight: 700;
    }
  }

}
.entry-search{
  .input-group-text,
  .form-control{
    border: 0;
    background-color: $color-grey;
  }
  .btn {
    padding: 0 10px;
    span{
      padding: 2px 7px 5px 6px;
      background-color: $white;
      @include border-radius(5px);
    }
  }
}
.filter-advanced {
  .form-control,
  .input-group-text {
    border: 0;
    background-color: $color-grey;
  }
  .input-group-text {
    padding: 5px 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .form-control {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .btn{
    @include border-radius(10px);
    padding: 0;
    height: 46px;
    width: 46px;
    line-height: 46px;
    text-align: center;
  }
}
.space-7 {
  margin-right: -7px;
  margin-left: -7px;
}
.space-7 > div {
  padding-right: 7px;
  padding-left: 7px;
}
.svg-white {
  filter: brightness(0) invert(1);
}
:focus {
  -webkit-box-shadow: none !important;
  outline: -webkit-focus-ring-color auto 0px !important;
}