// Variable overrides
$orange-transparent: #ffe9e0 !default;
$violet-transparent: #ede3fd !default;
$blue-transparent: #e3ebfd !default;
$light-blue-transparent: #ecf9fe !default;
$orange: #FF7643 !default;
$blue: #5585EE !default;
$blue-violet: #101C36 !default;
$violet: #9255EE !default;
$gray: #f8f8f8 !default;

//---------------
$color-border: #DBDBDB;
$color-grey: #f1f1f1;
$color-text: #101C36;
