<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="col-md-12 mb-4">
            <!-- Nav tabs -->
            <tabset>
              <tab>
                <ng-template tabHeading><i class="icon-list"></i> &nbsp;Thông tin</ng-template>
                <app-order-detail-info
                  *ngIf="orderService.orderRe && orderService.orderRe.package && orderService.orderRe.package.length"></app-order-detail-info>
              </tab>
              <tab>
                <ng-template tabHeading><i class="icon-list"></i> &nbsp;Lịch sử</ng-template>
                <app-order-detail-history></app-order-detail-history>
              </tab>
              <tab>
                <ng-template tabHeading><i class="fa fa-exclamation"></i> &nbsp;Khiếu nại</ng-template>
                <app-order-detail-complain></app-order-detail-complain>
              </tab>
            </tabset>
          </div><!--/.col-->
        </div>
      </div>
    </div>
  </div><!--/.row-->
</div>
