<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card entry-list">
                <div class="card-header">
                  <div class="row justify-content-between align-items-center">
                    <div class="col-12 col-md-6">
                      <div class="title-list">
                        <span>Người dùng</span>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 text-right">
                        <div class="btn-group " role="group" aria-label="Button group with nested dropdown">
                            <a class="btn" href="javascript:void(0)" (click)="addPartner()"><i class="fa fa-plus"></i> &nbsp;Thêm</a>
                            <a class="btn" href="javascript:void(0)"><i class="fa fa-remove"></i> &nbsp;Xóa</a>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                    <form novalidate (ngSubmit)="searchUsers()" #form="ngForm">
                        <div class="form-group space-7 row filter-advanced">
                            <div class="col-md-11">
                                <div class="input-group mb-1">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text">
                                      <i class="iconsax isax-edit-2"></i>
                                    </div>
                                  </div>
                                  <input [(ngModel)]="userService.search.key" type="text" id="key" name="key"
                                         class="form-control"
                                         placeholder="Tìm kiếm theo name, phone number, email...">
                                </div>
                            </div>
                            <div class="col-md-1">
                                <button type="submit" (click)="searchUsers()"
                                        class="btn btn-primary mb-1">
                                  <img class="svg-white" src="assets/img/iconsax/vuesax-bold-bootsrap.svg" alt="search">
                                </button>
                            </div>
                        </div>
                    </form>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th rowspan="2">Tên - Phone number</th>
                            <th rowspan="2">Email</th>
                            <th rowspan="2">Vai trò</th>
                            <th rowspan="2" class="text-right">Tác vụ</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of users">
                            <td><i class="fa fa-user"></i> {{item.name}}
                                <a *ngIf="item.phone_number" href="{{item.phone_number}}">  <i class="fa fa-phone-square"></i> {{item.phone_number}}</a></td>
                            <td><i class="fa fa-envelope-square"></i> <a href="{{item.email}}"> {{item.email}}</a></td>
                            <td>
                                <p *ngFor="let role of item.roles">{{role.position}}</p>
                            </td>
                            <td class="text-right">
                                <button (click)="editPartner(item.id)" class="btn btn-sm btn-info mr-1 text-white" type="button">
                                    Sửa
                                </button>
                                <button (click)="openModal(template,item)" class="btn btn-sm btn-violet" type="button">
                                    Xóa
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="userService.search.page" [itemsPerPage]="userService.search.limit"
                                (pageChanged)="pageChanged($event)"
                                class="pagination-sm pull-right" [maxSize]="6"
                                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                                lastText="&raquo;"></pagination>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
</div><!-- /.container-fluid -->
<ng-template #template>
    <div class="modal-body text-center">
        <p>Bạn có chắc chắn muốn xóa người dùng này!?</p>
        <div class="btn-group btn-group-toggle">
            <button type="button" class="btn btn-warning" (click)="confirm()">Yes</button>
            <button type="button" class="btn btn-primary" (click)="decline()">No</button>
        </div>
    </div>
</ng-template>
