<!-- Breadcrumb -->
<ol class="breadcrumb">
  <app-breadcrumb></app-breadcrumb>
  <!-- Breadcrumb Menu-->
  <li class="breadcrumb-menu d-md-down-none">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <a class="btn" href="javascript:void(0)" (click)="userService.updateUser()"><i
        class="fa fa-check-square"></i>
        &nbsp;Cập nhật</a>
    </div>
  </li>
</ol>
<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Thông tin tài khoản</strong>
        </div>
        <div class="card-body">
          <div class="col-md-12 mb-4">
            <form novalidate #form="ngForm" class="form-horizontal">
              <div class="form-group row">
                <label class="col-md-3 col-form-label">
                  Tên
                </label>
                <div class="col-md-9">
                  <strong>{{userService.user.name}}</strong>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label">
                  Vip
                </label>
                <div class="col-md-9">
                  <strong>Vip {{userService.user.vip}}</strong>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label">
                  Email
                </label>
                <div class="col-md-9">
                  <strong>{{userService.user.email}}</strong>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="password">
                  Password <code class="highlighter-rouge">*</code>
                </label>
                <div class="col-md-9">
                  <input [(ngModel)]="userService.user.password" #password="ngModel" type="password"
                         id="password"
                         name="password"
                         required
                         class="form-control"
                         placeholder="Password">
                  <div [hidden]="password.valid || password.untouched">
                                <span *ngIf="password.errors && password.errors.required"
                                      class="badge badge-warning">
                                    Phải nhập password!
                                </span>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="c_password">
                  Nhập lại password <code class="highlighter-rouge">*</code>
                </label>
                <div class="col-md-9">
                  <input [(ngModel)]="userService.user.c_password" #c_password="ngModel"
                         type="password" id="c_password"
                         name="c_password"
                         required
                         class="form-control"
                         placeholder="Nhập lại password">
                  <div [hidden]="c_password.valid || c_password.untouched">
                                <span *ngIf="c_password.errors && c_password.errors.required"
                                      class="badge badge-warning">
                                    Phải nhập lại password!
                                </span>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="phone_number">
                  Số điện thoại <code class="highlighter-rouge">*</code>
                </label>
                <div class="col-md-9">
                  <input [(ngModel)]="userService.user.phone_number" #phone_number="ngModel"
                         type="text" id="phone_number"
                         name="phone_number"
                         required
                         class="form-control"
                         placeholder="Số điện thoại">
                  <div [hidden]="phone_number.valid || phone_number.untouched">
                                <span *ngIf="phone_number.errors && phone_number.errors.required"
                                      class="badge badge-warning">
                                    Phải nhập Số điện thoại!
                                </span>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="address">
                  Địa chỉ
                </label>
                <div class="col-md-9">
                  <input [(ngModel)]="userService.user.address" #address="ngModel"
                         type="text" id="address"
                         name="address" class="form-control" placeholder="Địa chỉ">
                </div>
              </div>

              <div *ngIf="userService.user.image" class="form-group row">
                <label class="col-md-3 col-form-label" for="phone_number">
                  Avata
                </label>
                <div class="col-md-9">
                  <img src="{{userService.user.image}}">
                </div>
              </div>
            </form>
          </div><!--/.col-->
        </div>
      </div>
      <div *ngIf="userService.user && userService.user.type === 1" class="card">
        <div class="card-header">
          <strong>Tài khoản ngân hàng</strong>
        </div>
        <div class="card-body">
          <div class="col-md-12 mb-4">
            <form novalidate #form="ngForm" class="form-horizontal">
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="bank_number">
                  Số tài khoản ngân hàng
                </label>
                <div class="col-md-9">
                  <input [(ngModel)]="userService.user.bank_number" #bank_number="ngModel"
                         type="text" id="bank_number"
                         name="bank_number"
                         class="form-control"
                         placeholder="Số tài khoản ngân hàng">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="bank_username">
                  Người thụ hưởng
                </label>
                <div class="col-md-9">
                  <input [(ngModel)]="userService.user.bank_username" #bank_username="ngModel"
                         type="text" id="bank_username"
                         name="bank_username"
                         class="form-control"
                         placeholder="Người thụ hưởng">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="bank_name">
                  Tên ngân hàng
                </label>
                <div class="col-md-9">
                  <input [(ngModel)]="userService.user.bank_name" #bank_name="ngModel"
                         type="text" id="bank_name"
                         name="bank_name"
                         class="form-control"
                         placeholder="Tên ngân hàng">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="bank_branch">
                  Chi nhánh
                </label>
                <div class="col-md-9">
                  <input [(ngModel)]="userService.user.bank_branch" #bank_branch="ngModel"
                         type="text" id="bank_branch"
                         name="bank_branch"
                         class="form-control"
                         placeholder="Chi nhánh">
                </div>
              </div>
            </form>
          </div><!--/.col-->
        </div>
      </div>
      <div *ngIf="userService.user && userService.user.type === 1" class="card">
        <div class="card-header">
          <strong>Danh sách địa chỉ kho nhận hàng tại Trung Quốc</strong>
        </div>
        <div class="card-body">
          <div *ngFor="let item of chinaWarehouses" class="card">
            <div class="card-header"><i class="fa fa-check"></i>{{item.name}} <span *ngIf="item.note">({{item.note}}
              )</span></div>
            <div class="card-body">
              <table class="table table-bordered table-striped table-sm">
                <tbody>
                <tr>
                  <td>Địa chỉ nhận hàng</td>
                  <td>{{item.address}}</td>
                </tr>
                <tr>
                  <td>Người nhận</td>
                  <td>{{item.receiver}}</td>
                </tr>
                <tr>
                  <td>Mã bưu điện</td>
                  <td>{{item.zipcode}}</td>
                </tr>
                <tr>
                  <td>Số điện thoại</td>
                  <td>{{item.phone}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!--/.row-->
</div>
